<div class="content__main content__main--with-sidebar">

	<aside class="sidebar sidebar--slim">
		<button class="account-sidebar__section" data-url="info">My Information</button>
		<button class="account-sidebar__section" data-url="email-list">Email Lists</button>
		<button class="account-sidebar__section" data-url="events">Events</button>
		<button class="account-sidebar__section" data-url="donations">Donation History</button>
		<button class="account-sidebar__section" data-url="children">Children</button>
	</aside>
				
	<section class="content__body">
		<div id="account-current-section" class="card card--vertical card--large-padding">
		</div>
	</section>

</div>

{{> account-info}}
{{> account-email-list}}
{{> account-events}}
{{> account-donations}}
{{> account-children}}