<h1>{{{ targetEvent.name }}}</h1>
<div>{{{ targetEvent.type.eventType }}}</div>
<div>{{{ targetEvent.description }}}</div>


<div class="card-area">
	<div class="nav-card" data-url="/adpoption-parties-info-events/">
		<div class="card-circle"><img class="card-icon" src="/dist/img/icon-calendar.svg" alt="calendar"></div>
		<h2 class="nav-card__title--long">MARE Adoption Parties and Information Events</h2>
	</div>
	<div class="nav-card" data-url="/mapp-trainings/">
		<div class="card-circle"><img class="card-icon" src="/dist/img/icon-presentation.svg" alt="presentation"></div>
		<h2 class="nav-card__title">MAPP Trainings</h2>
	</div>
	<div class="nav-card" data-url="/fundraising-events/">
		<div class="card-circle"><img class="card-icon" src="/dist/img/icon-donate.svg" alt="donate"></div>
		<h2 class="nav-card__title">MARE Fundraising Events</h2>
	</div>
	<div class="nav-card" data-url="/agency-info-meetings/">
		<div class="card-circle"><img class="card-icon" src="/dist/img/icon-info.svg" alt="info"></div>
		<h2 class="nav-card__title">Agency Information Meetings</h2>
	</div>
	<div class="nav-card" data-url="/other-trainings/">
		<div class="card-circle"><img class="card-icon" src="/dist/img/icon-asterisk.svg" alt="asterisk"></div>
		<h2 class="nav-card__title">Other Trainings and Opportunities</h2>
	</div>
	<div class="image-card">
		<img class="image-card__image" src="/dist/img/success-story-popout.png" alt="events" >
	</div>
</div>
