<div class="card-group">

	<div class="card card--medium card--clickable event-card" data-url="/events/adoption-parties/">
		<span class="card__icon-container">
			<img class="card__icon" src="/dist/img/icon-calendar.svg" alt="calendar">
		</span>
		<h2 class="card__title">MARE Adoption Parties and Information Events</h2>
	</div>

	<div class="card card--medium card--clickable event-card" data-url="/events/mapp-trainings/">
		<span class="card__icon-container">
			<img class="card__icon" src="/dist/img/icon-presentation.svg" alt="presentation">
		</span>
		<h2 class="card__title">MAPP Trainings</h2>
	</div>

	<div class="card card--medium card--clickable event-card" data-url="/events/fundraising-events/">
		<span class="card__icon-container">
			<img class="card__icon" src="/dist/img/icon-donate.svg" alt="donate">
		</span>
		<h2 class="card__title">MARE Fundraising Events</h2>
	</div>

	<div class="card card--medium card--clickable event-card" data-url="/events/agency-info-meetings/">
		<span class="card__icon-container">
			<img class="card__icon" src="/dist/img/icon-info.svg" alt="info">
		</span>
		<h2 class="card__title">Agency Information Meetings</h2>
	</div>

	<div class="card card--medium card--clickable event-card" data-url="/events/other-trainings/">
		<span class="card__icon-container">
			<img class="card__icon" src="/dist/img/icon-asterisk.svg" alt="asterisk">
		</span>
		<h2 class="card__title">Other Trainings and Opportunities</h2>
	</div>

	<div class="card card--medium event-card">
		<img class="card__image card__image--small card__image--no-margin" src="/dist/img/success-story-popout.png" alt="events" >
	</div>

</div>