<h1>{{{ targetEvent.name }}}</h1>
<div>{{{ targetEvent.type.eventType }}}</div>
<div>{{{ targetEvent.description }}}</div>


<div class="card-area">
	<div class="small-card">
		<h2 class="small-card__title">MARE Adoption Parties and Information Events</h2>
	</div>
	<div class="small-card">
		<h2 class="small-card__title">MARE Adoption Parties and Information Events</h2>
	</div>
	<div class="small-card">
		<h2 class="small-card__title">MARE Adoption Parties and Information Events</h2>
	</div>
</div>
