<div class="card card--vertical card--large-padding">

	<div class="page-header">
		<span class="page-header-text">Reset Password</span>
	</div>

	<section class="">
		<form action="/recover" method="POST">

            <input name="resetToken" value="{{resetToken}}" hidden="true" />
            <input name="password" value=""/>
            <input name="confirm-password" value=""/>
		
			<button class="button button--blue register" type="submit">Reset Password</button>
		</form>
	</section>

</div>