<div class="card card--vertical card--large-padding">

	<div class="page-header">
		<span class="page-header-text">Reset Password</span>
	</div>

	<section class="">
		<form action="/recover" id="password-change-form" method="POST">

            <input name="resetToken" value="{{resetToken}}" hidden="true" />

			<div class="password-change-container">
				<div class="row form-group">
					<div>
						<input type="password" id="reset-password" class="input" name="password"
								data-parsley-trigger="focusout"
								data-parsley-minlength="8" data-parsley-minlength-message="password must be 8 or more characters"
								data-parsley-required-message="password is required" required=""
								data-parsley-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/" data-parsley-pattern-message="password does not meet requirements">
						<label for="reset-password" class="label required-field">Password</label>
					</div>
				</div>
				<div class="row form-group">
					<div>
						<input type="password" id="reset-confirm-password" class="input" name="confirmPassword"
								data-parsley-trigger="focusout"
								data-parsley-minlength="8" data-parsley-minlength-message="password must be 8 or more characters"
								data-parsley-required-message="password is required" required=""
								data-parsley-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/" data-parsley-pattern-message="password does not meet requirements"
								data-parsley-equalto="#reset-password" data-parsley-equalto-message="passwords must match">
						<label for="reset-password" class="label required-field">Confirm Password</label>
					</div>
				</div>
				<div>
					<p class="form-field-note">Note: passwords must be at least 8 characters long, contain at least one number, one uppercase letter, and one lowercase letter.</p>
				</div>
				<button class="button button--teal register" type="submit">Reset Password</button>
				<span class="required required-description">* Required</span>
			</div>
		</form>
	</section>

</div>
