{{!< default}}
<div class="main">
	<div class="content">
		<div class="container">
			<div id="owl-demo" class="owl-carousel">
				<div class="item">
					<img class="lazyOwl" data-src="http://placehold.it/1100x400&text=featured" alt="Sample Image">
					<span class="featured-description">
						<span class="featured-header">Considering adoption?</span>
						<span class="featured-tagline">You've Come to the right place.</span>
						<span class="featured-learn-more">Learn more</span>
					</span>
				</div>
				<div class="item">
					<img class="lazyOwl" data-src="http://placehold.it/1100x400&text=featured" alt="Sample Image">
					<span class="featured-description">
						<span class="featured-header">There are over 600 children in foster care waiting for families.</span>
						<span class="featured-tagline">Are they waiting for you?</span>
						<span class="featured-learn-more">Learn more</span>
					</span>
				</div>
				<div class="item">
					<img class="lazyOwl" data-src="http://placehold.it/1100x400&text=featured" alt="Sample Image">
					<span class="featured-description">
						<span class="featured-header">Adoptive parents are:</span>
						<span class="featured-tagline">Singles, couples, owners, renters, straight, gay...</span>
						<span class="featured-learn-more">Sound like you?</span>
					</span>
				</div>
				<div class="item">
					<img class="lazyOwl" data-src="http://placehold.it/1100x400&text=featured" alt="Sample Image">
					<span class="featured-description">
						<span class="featured-header">November is</span>
						<span class="featured-tagline">National Adoption Month</span>
						<span class="featured-learn-more">Learn more</span>
					</span>
				</div>
			</div>
		</div>
		<div class="featured">
			<img src="http://placehold.it/400x250&text=featured" alt="featured-images-placeholder">
			<img src="http://placehold.it/400x250&text=featured" alt="featured-images-placeholder">
			<img src="http://placehold.it/400x250&text=featured" alt="featured-images-placeholder">
		</div>
	</div>
</div>