{{!< default}}
<div class="main">
  <div class="content">
    <div class="container">
      <div id="content-slider">
          <div id="slider">
              <div id="mask">
                <ul>
                  <li id="first" class="firstanimation">
                    <a href="#"><img src="http://placehold.it/680x310&text=slideshow image" alt="slideshow-images-placeholder"></a>
                    <div class="tooltip">
                      <h1>Slide 1</h1>
                    </div>
                  </li>

                  <li id="second" class="secondanimation">
                    <a href="#"><img src="http://placehold.it/680x310&text=slideshow image" alt="slideshow-images-placeholder"></a>
                    <div class="tooltip">
                      <h1>Slide 2</h1>
                    </div>
                  </li>
                
                  <li id="third" class="thirdanimation">
                    <a href="#"><img src="http://placehold.it/680x310&text=slideshow image" alt="slideshow-images-placeholder"></a>
                    <div class="tooltip">
                      <h1>Slide 3</h1>
                    </div>
                  </li>
                            
                  <li id="fourth" class="fourthanimation">
                    <a href="#"><img src="http://placehold.it/680x310&text=slideshow image" alt="slideshow-images-placeholder"></a>
                    <div class="tooltip">
                      <h1>Slide 4</h1>
                    </div>
                  </li>
                            
                  <li id="fifth" class="fifthanimation">
                    <a href="#"><img src="http://placehold.it/680x310&text=slideshow image" alt="slideshow-images-placeholder"></a>
                    <div class="tooltip">
                      <h1>Slide 5</h1>
                    </div>
                  </li>
                </ul>
                </div>
                <div class="progress-bar"></div>
            </div>
        </div>
    </div>
    <div class="featured">
      <img src="http://placehold.it/250x150&text=featured" alt="featured-images-placeholder">
      <img src="http://placehold.it/250x150&text=featured" alt="featured-images-placeholder">
      <img src="http://placehold.it/250x150&text=featured" alt="featured-images-placeholder">
    </div>
  </div>
</div>