{{!< default}}
<div class="main">
	<div>
		<div class="slideshow">
			<span>slideshow images placeholder</span>
		</div>
		<div class="featured">
			<span>featured images placeholder</span>
		</div>
	</div>
</div>