{{!< default}}
<div class="main">
	<div>
		<div class="slideshow">
			<img src="http://placehold.it/900x300&text=slideshow image" alt="slideshow-images-placeholder">
		</div>
		<div class="featured">
			<img src="http://placehold.it/250x150&text=featured" alt="featured-images-placeholder">
			<img src="http://placehold.it/250x150&text=featured" alt="featured-images-placeholder">
			<img src="http://placehold.it/250x150&text=featured" alt="featured-images-placeholder">
		</div>
	</div>
</div>