<div class="main">

  	<h1>Welcome to the preferences of {{ user.name.first }} {{ user.name.last }}</h1>
  	{{!-- <h2>Type of user: {{ user.userType }}</h2> --}}
  	<h2>User email: {{ user.email }}</h2>

	<a href="/keystone">Sign in to Admin Panel</a>
</div>