<div class="card card--vertical card--large-padding-below card--vertically-centered">
	<h1 class="card__title">9 Steps in the Adoption Process</h1>
	<p class="card__subheading card__subheading--centered">There are just 9 steps to adopt a child from foster care. MARE is here to help you along the way, and if you would like more information, please do not hesitate to reach out. Let’s get started.</p>
	<div class="steps-in-the-process">
		<!-- TODO: figure out how to programatically get this text... -->

		<!-- Step 1: Adoption Inquiry -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/adoption-inquiry.png" alt="Adoption Inquiry"/>
			<label class="step-in-the-process__number">Step 1</label>
			<h3 class="step-in-the-process__title">Adoption Inquiry</h3>
			<p class="step-in-the-process__description">Give MARE a call at 1-800-822-1176 to discuss with a worker your interest in becoming an adoptive parent and learn about agencies that serve your region of the state. You may want to attend a Adoption Information Meeting where you will learn more about the process of adopting a child from foster care.</p>
		</div>

		<!-- Step 2: Agency Application -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/agency-application.png" alt="Agency Application"/>
			<label class="step-in-the-process__number">Step 2</label>
			<h3 class="step-in-the-process__title">Agency Application</h3>
			<p class="step-in-the-process__description">Upon your request, a social worker from the agency you have chosen to work with will visit with you. You will receive an application which is to be returned this agency.  You will be assigned a social worker who will provide you with guidance and support throughout the process.</p>
		</div>

		<!-- Step 3: Safety Check -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/safety-check.png" alt="Safety Check"/>
			<label class="step-in-the-process__number">Step 3</label>
			<h3 class="step-in-the-process__title">Safety Check</h3>
			<p class="step-in-the-process__description">Backgound record checks, including criminal and state child welfare histories are completed. Your home must meet physical standards established by state law and regulations. We seek to ensure that your household is a safe environment for placing a child or sibling group.</p>
		</div>

		<!-- Step 4: Training -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/training.png" alt="Training"/>
			<label class="step-in-the-process__number">Step 4</label>
			<h3 class="step-in-the-process__title">Training</h3>
			<p class="step-in-the-process__description">Once your application is approved, you will be invited to attend a pre-service training program. The training prepares adults to parent a child from foster care. You will learn about the needs of children who have experienced neglect and abuse. The training covers such topics as communication, building self esteem, child guidance, understanding behaviours, and working with agencies and courts. The training will also give you the information you need to begin and participate in a mutual home study process.</p>
		</div>

		<!-- Step 5: Home Study -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/home-study.png" alt="Home Study"/>
			<label class="step-in-the-process__number">Step 5</label>
			<h3 class="step-in-the-process__title">Home Study</h3>
			<p class="step-in-the-process__description">This is the time when a social worker will visit you, interview you and your household memebers and will request personal references. At least two visits will occur in your home. The home study is a mutual assessment process, it allows you to actively engage in deciding whether a particular child or sibling group is right for you. The social worker completes the home study for approval. The home study identifies your family’s strengths, it will also identify the type of child who is the best match with your family.</p>
		</div>

		<!-- Step 6: Licensing -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/licensing.png" alt="Licensing"/>
			<label class="step-in-the-process__number">Step 6</label>
			<h3 class="step-in-the-process__title">Licensing</h3>
			<p class="step-in-the-process__description">Once your homestudy has been completed and approved, you become licensed to adopt. You can now registerd your homestudy with MARE</p>
		</div>

		<!-- Step 7: Matching &amp; Visiting -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/matching-visiting.png" alt="Matching and Visiting"/>
			<label class="step-in-the-process__number">Step 7</label>
			<h3 class="step-in-the-process__title">Matching &amp; Visiting</h3>
			<p class="step-in-the-process__description">Social workers will match the needs of a child or sibling group with your strengths. You will be given all available information about the child so you can make an informed decision about moving forward. You and the child will have pre-placement visits and support prior to placement.</p>
		</div>

		<!-- Step 8: Placement Support -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/placement-support.png" alt="Placement Support"/>
			<label class="step-in-the-process__number">Step 8</label>
			<h3 class="step-in-the-process__title">Placement Support</h3>
			<p class="step-in-the-process__description">Placement decisions are mutual and are based on the planned transition schedule. You receive support throughout the process. When the child is placed, you will work with the child’s social worker and with your social worker, issues are assessed and services located that will support the child and your family, as may be needed. A child must be legally free and reside with you for at least six months before legalization by the court can occur. Based on the child’s needs and adjustment, it may take longer.</p>
		</div>

		<!-- Step 9: Post-Adoption Services -->
		<div class="step-in-the-process">
			<div class="step-in-the-process__marker"></div>
			<img class="step-in-the-process__image" src="../images/home-study.png" alt="Post-Adoption Services"/>
			<label class="step-in-the-process__number">Step 9</label>
			<h3 class="step-in-the-process__title">Post-Adoption Services</h3>
			<p class="step-in-the-process__description">Support services continue to be available to you and your family after the adoption is legalized. Post adoption services can be sought when a child is approaching developmental milestones or when a crisis occurs in the family. Services are available on a periodic or ongoing basis.</p>
		</div>
	</div>
	{{> page-actions}}	
</div>