<div class="wrapper">
	<!-- Sidebar -->
     <nav id="sidebar" class="bg-primary text-white">
			<button type="button" class="sidebarCollapse btn btn-info mb-4">
				Close
			</button>
            <div class="sidebar-header">
                <h3>Reports:</h3>
            </div>
			<div class="list-group list-group-flush">
			  <a class="list-group-item active" href="/tools/family-matching"><span class="list-group-icon"><img src="/dashboard-styles/images/icon-family-matching.png" alt="#"></span> Family Matching</a>
			  <a class="list-group-item" href="/tools/child-matching"><span class="list-group-icon"><img src="/dashboard-styles/images/icon-child-matching.png" alt="#"></span> Child Matching</a>
			</div>
						

        </nav>
		
	<!-- Page Content -->
    <div id="content">
		<form method="get" action="/tools/family-matching" method="get">
			
			<div class="form-row align-items-center d-flex justify-content-center">
				<div class="col-auto">
					<label for="family">Family:</label>
				</div>
				
				<div class="col-sm-4">
					<select id="family" name="family" class="form-control family-select">
						
					</select>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
			
		</form>
	
		{{#if familyNotFound }}
			Family was not found
		{{/if}}
	</div>
</div>