<div class="error-container">
    <div class="card card--vertical card--large-padding">
        <h1 class="card__title">{{errorTitle}}</h1>
        <h2 class="text-center">{{errorMsg}}</h2>
        <div class="text-center">
            <a href="/">Take Me Home!</a>
            <a href="/page/contact-us">Contact MARE</a>
        </div>
    </div>
</div>
