<script id="account-email-list" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Your Email Preferences</h1>

	<div class="text-center">
		<a href="https://mareinc.us13.list-manage.com/unsubscribe?u=39a670129a9168e61f6cdd94c&id=573d45ceed" target="_blank" class="button button--teal">Unsubscribe</a>
	</div>

</script>