<script id="account-registration-links" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Registration</h1>

	<div class="account__registration-links">
        <a href="/page/register-update-a-child">Register/Update a Child</a>
        <a href="/page/register-a-familys-homestudy">Register a Homestudy</a>
    </div>

</script>
