<nav id="sidebar" class="dashboard-sidebar text-white">
	<button type="button" class="sidebarCollapse btn btn-info mb-4">
		Close
	</button>
	<h3 class="dashboard-sidebar__h3">Reports:</h3>
	<div class="list-group list-group-flush">
		<a class="list-group-item" href="/tools/family-matching"><span class="list-group-icon"><img src="/dist/img/icon-family-matching.png" alt="Family Matching"></span> Family Matching</a>
		<a class="list-group-item" href="/tools/child-matching"><span class="list-group-icon"><img src="/dist/img/icon-child-matching.png" alt="Child Matching"></span> Child Matching</a>
	</div>
</nav>