<p class="card-details__paragraph">Participation in the Massachusetts Approach to Partnership in Parenting (MAPP)
	curriculum is required of all prospective foster and adoptive families in Massachusetts. MAPP Training is offered
	both by the Department of Children and Families (DCF) and contracted adoption agencies. MARE does not offer MAPP
	training. After a prospective family’s application has been submitted to an agency and preliminary screenings are
	met with approval, families will be invited to attend the ten week training.</p>

<p class="card-details__paragraph">The training curriculum prepares adults to adopt a child from foster care who has
	experienced neglect and abuse. The training covers such topics as communication, building self-esteem, child
	guidance, understanding behaviors, and working with agencies and courts. The training will also include discussions
	about the children who are waiting to be adopted and resources and support available to you as an adoptive family.
</p>

<div class="card-details__header card-details__header--small card-details__header--medium-margin-above">MAPP Training Organizations</div>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold"> DCF-Statewide:</div>
	<div class="card-details__body">1-800-543-7508 or <a href="https://www.mass.gov/guides/partnerships-in-parenting-mapp-trainings" target="_blank">https://www.mass.gov/guides/partnerships-in-parenting-mapp-trainings</a></div>
	<div class="card-details___body">Please note that while MAPP is offered in many locations across the state, pre-adoptive
		families typically are required to take MAPP trainings hosted by one of the five regional offices (Dorchester,
		Lawrence, Brockton, Worcester and Springfield)
	</div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">18 Degrees – Hadley:</div>
	<div class="card-details__body">Liz Cole at (413) 553-7605 or <a href="mailto:ecole@18degreesma.org">ecole@18degreesma.org</a></div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">Bright Futures Adoption Center/RFK – Acton: </div>
	<div class="card-details__body">Karen Cheyney at (978) 263-5400 or <a href="mailto:kcheyney@rfkchildren.org">kcheyney@rfkchildren.org</a></div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">Cambridge Family and Children’s Service – Cambridge: </div>
	<div class="card-details__body">Sarah Medrano-Palmer at (617) 876-4210 or <a href="mailto:smedrano-palmer@helpfamilies.org">smedrano-palmer@helpfamilies.org</a></div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">Child and Family Services – Lawrence: </div>
	<div class="card-details__body">Melissa O'Meara at (978) 687-5852 or <a href="mailto:momeara@cfservices.org ">momeara@cfservices.org </a></div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">Child and Family Services – Fall River: </div>
	<div class="card-details__body">Mathew Petersen at (508) 333-7550 or <a href="mailto:mpetersen@cfservices.org">mpetersen@cfservices.org</a></div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">Children’s Friend – Worcester: </div>
	<div class="card-details__body">Veronica Listerud at (508) 796-0154 or <a href="mailto:vlisterud@childrensfriend.org">vlisterud@childrensfriend.org</a></div>
</p>

<p class="card-details__paragraph">
	<div class="card-details__body card-details__body--bold">The Home for Little Wanderers – Dorchester: </div>
	<div class="card-details__body">Alisha Patrick at (617) 835-8141 or <a href="mailto:adoptioninfo@thehome.org">adoptioninfo@thehome.org</a></div>
</p>
