<script id="mailing-list-preferences-modal" type="text/x-handlebars-template">
    <div class="modal-form__header">
        <div class="modal-form-header__text">
            Sorry to see you go
        </div>
    </div>
    <p class="text-center py-5">
        Are you sure you want to unsubscribe from all future communications?
    </p>
    <div class="text-center pt-4">
        <button id="unsubscribe-confirm" class="button button--teal">Unsubscribe</button>
        <button class="button button--teal button--cancel">Cancel</button>
    </div>
</script>