<div class="modal">
	<div class="modal__background"></div>
	<div class="modal__container">

		<i class="fa fa-times fa-2x modal__close"></i>

		<div class="modal-container__loading">
			<img src="/dist/img/loading.gif" alt="loading" class="modal-container__loading-image">
		</div>

		<div class="modal-container__contents"></div>

	</div>
</div>