<div class="restore-form-data__container hidden">
	<span class="restore-form-data__message">We show that you have previously unsubmitted data for this form.  Would you like to restore it now?</span>
	
	<div class="restore-form-data__controls">
		<span class="restore-form-data__control restore-form-data__restore">restore</span>
		<span class="restore-form-data__control restore-form-data__ignore">ignore</span>
	</div>
</div>
