<div class="restore-form-data__container restore-form-data__container--info">
	<div class="restore-form-data__message">
		<div class="restore-form-data__message-title">Please Note</div>
		If you are unable to complete this form in one sitting, you can return at a later time to restore your work for this particular child registration form. 
		You are not able to save work on multiple registrations at the same time.
	</div>
</div>

<div class="restore-form-data__container restore-form-data__container--action hidden">
	<span class="restore-form-data__message">
		It appears you may have previously started a child registration form that was never submitted.
		Do you want to restore the details of this earlier registration?
	</span>
	<div class="restore-form-data__controls">
		<span class="restore-form-data__control restore-form-data__restore">restore</span>
		<span class="restore-form-data__control restore-form-data__ignore">ignore</span>
	</div>
</div>
