<!-- TODO: REMOVE SLIDESHOW ID AND CHANGE RELATED CSS -->
<div id="slideshow" class="owl-carousel owl-theme owl-loaded">
	{{#each slides}}
	{{#if hasImage}}
	<img class="owl-lazy" data-src="{{ image.url }}" alt="{{ heading }}">
	{{/if}}
	{{/each}}
</div>