<nav class="top-nav">
	<ul class="top-nav__items top-nav__items--dashboard">
		<li class="top-nav__item top-nav__button top-nav__button--log-out top-nav__button--relative top-nav__button--extra-space-left">Log Out</li>
	</ul>
</nav>