<script id="tools-family-matching-request-template" type="text/x-handlebars-template">
	<button type="button" class="sidebarCollapse sidebarCollapse--content btn btn-info mb-4">
		Reports
	</button>
	<div class="form-row align-items-center d-flex justify-content-center">
		<div class="col-auto">
			<label for="family">Family:</label>
		</div>
		
		<div class="col-sm-4 text-center">
			<select id="family" name="family" class="form-control family-select">
				
			</select>
		</div>
		<div class="col-auto">
			<button type="button" class="btn btn-primary family-search-button">Search</button>
		</div>
	</div>
</script>
