<script id="tools-child-listing-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Child Listing Report</h2>

    <div class="child-listing-report">
    </div>

</script>