<script id="tools-child-matching-request-template" type="text/x-handlebars-template">
	<div class="form-row align-items-center d-flex justify-content-center">
		<div class="col-auto">
			<label for="child">Child:</label>
		</div>
		
		<div class="col-sm-4">
			<select id="child" name="child" class="form-control child-select">
				
			</select>
		</div>
		<div class="col-auto">
			<button type="button" class="btn btn-primary child-search-button">Search</button>
		</div>
	</div>
</script>
