<nav id="sidebar" class="dashboard-sidebar dashboard-sidebar--active text-white panel">
	<button type="button" id="sidebar-close" class="btn btn-info mb-4">Close</button>
	<h3 class="dashboard-sidebar__h3">Reports:</h3>
	<div class="list-group list-group-flush">
		<a class="list-group-item tools__dashboard" href="/tools#dashboard"><span class="list-group-icon"><img src="/dist/img/icon-family-matching.png" alt="Family Matching"></span> Dashboard</a>
		<a class="list-group-item tools__family-matching" href="/tools#family-matching"><span class="list-group-icon"><img src="/dist/img/icon-family-matching.png" alt="Family Matching"></span> Family Matching</a>
		<a class="list-group-item tools__child-matching" href="/tools#child-matching"><span class="list-group-icon"><img src="/dist/img/icon-child-matching.png" alt="Child Matching"></span> Child Matching</a>
		<a class="list-group-item tools__inquiry-report" href="/tools#inquiry-report"><span class="list-group-icon"><img src="/dist/img/icon-inquiry-report.png" alt="Inquiry Report"></span> Inquiry Report</a>
		<a class="list-group-item tools__placement-report" href="/tools#placement-report"><span class="list-group-icon"><img src="/dist/img/icon-placement-report.png" alt="Placement Report"></span> Placement Report</a>
		<a class="list-group-item tools__media-features-report" href="/tools#media-features-report"><span class="list-group-icon"><img src="/dist/img/icon-media-features-report.png" alt="Media Features Report"></span> Media Features Report</a>
		<a class="list-group-item tools__child-listing-report" href="/tools#child-listing-report"><span class="list-group-icon"><img src="/dist/img/icon-media-features-report.png" alt="Child Listing Report"></span> Child Listing Report</a>
	</div>
</nav>