<script id="tools-media-features-report-template" type="text/x-handlebars-template">

    <h2 class="panel__h2 mb-2">Media Features Report</h2>

    <div class="media-features-report"></div>

</script>