<script id="tools-placement-report-template" type="text/x-handlebars-template">
	<button type="button" class="sidebarCollapse sidebarCollapse--show btn btn-info mb-4">
		Reports
	</button>
	
    <h2 class="panel__h2 mb-2">Placement Report</h2>
</script>