<section class="gallery">
	<section class="card card--vertical card--large-padding">

		<h1 class="card__title">Waiting Child Profiles</h1>

		<div class="card-details">
			<div class="card-details__body">
				<p class="card-details__paragraph">We invite you to get to know some of the dynamic children and teens who are waiting
					for adoption in Massachusetts. All of the children profiled below are in the custody of the Massachusetts Department
					of Children and Families, have a goal of adoption, and are waiting for a family to call their own. Siblings profiled
					are in need of a family who can provide them a home together. Please consider these profiles merely an introduction
					to the child. We respect the privacy of children and do not list medical or mental health issues, nor are we able to
					capture the full strengths and personality of the child. You can learn more about a specific child or sibling group,
					or get information on starting the process of adopting from foster care, by submitting the Request for Information
					Form which is found under each child profile. You can expect to hear back from a MARE staff person about first steps
					if you are new to the process, or with additional child-specific information if you are already licensed.</p>

				<p class="card-details__paragraph">The profiles below are limited to those children or sibling groups who have been
					legally freed for adoption. If you are a Massachusetts family with a current, approved homestudy for foster care
					adoption, you can submit your homestudy for verification, allowing you access to an additional pool of waiting
					children who have not yet been legally freed. To submit your homestudy for verification, contact 
					<a href="mailto:ricardof@mareinc.org">Ricardo Franco</a>.</p>

				<p class="card-details__paragraph">In order to ensure timely responses, we request that you inquire about no more than 8-10 
					children or sibling groups at a time. We do our best to respond within 2-3 business days.</p>
			</div>
		</div>
		<!-- TODO: this section still needs to be redone once design is discussed with Anna -->
		<section class="filters">

			<div class="button-group button-group--horizontal button-group--large-margin-above button-group--large-margin-below">
				<button class="button button--medium button--teal filters__search-button filters__search-button--modify">Modify Search</button>
				<button class="button button--medium button--teal filters__search-button filters__search-button--clear">Clear Search</button>
				{{#if canBookmarkChildren}}
				<!-- REDESIGN TODO: remove left margin on button... might affect other buttons -->
				<button class="button button--extra-large button--teal filters__search-button filters__search-button--show-saved-children">Show Bookmarked Profiles</button>
				{{/if}}
			</div>

			<div class="filters__modify-search-explanation">Your search results are displayed below.</div>
		</section>
	</section>
	{{#if canBookmarkChildren}}
	<h4>
		You can bookmark specific child/sibling profiles to track children you have inquired about or wish to inquire about. Please note that once a child's status is no longer active they will be removed from your Bookmarked Profiles list.
	</h4>
	{{/if}}
	<div class="button-group button-group--space-between button-group--large-margin-above button-group--large-margin-below button-group--wrap waiting-child-profiles__search-and-filter-bar">
		<select class="waiting-child-profiles__gallery-filter waiting-child-profiles-filter">
			<option value="registered">Sort by Most Recent</option>
			<option value="name">Sort by Name</option>
			<option value="age">Sort by Age</option>
		</select>

		<input type="text" id="registration-number-search" class="media-boxes-search" placeholder="Search By Registration #">

		<div class="icon-key">
			<span class="icon-text-unit filter">
				<img class="icon-text-unit__icon video" src="/dist/img/icon-video.png">
				<span class="icon-text-unit__text">Video Profile</span>
			</span>
			<span class="icon-text-unit filter">
				<img class="icon-text-unit__icon wednesdays-child" src="/dist/img/icon-wednesdays-child.png">
				<span class="icon-text-unit__text">Wednesday's Child</span>
			</span>
		</div>
	</div>

	<section class="profiles-container">
		<div id="children-grid" class="card-grid"></div>
	</section>
</section>
