.dashboard-sidebar {
	min-width: 323px;
	max-width: 323px;
	transition: all 0.3s;
	padding: 1.25rem 1rem;
	background-color: #2e4e87 !important;
	
	@media all and ( max-width: 768px ) {
		& {
			margin-left: -323px;
		}
		&--active {
			margin-left: 0;
		}
	}
	
	@media all and ( min-width: 768px ) {
		position: fixed;
		height: 100%;
		padding: 3.25rem 1rem;
		
		.sidebarCollapse {
			display: none;
		}
	}
}

.dashboard-sidebar__h3 {
	color: #839ed3;
	font-weight: 600;
	
	@media all and ( min-width: 768px ) {
		font-size: 1.3rem;
	}
}

