.content-wrapper--dashboard {
	max-width: none;
}

.global-header--dashboard {
	height: auto !important;
}

.top-nav__items--dashboard {
	padding-top: .75em;
}

.global-header .logo--dashboard {
	width: 17em;
	
	@media all and ( min-width: 765px ) {
		width: 19em;
	}
	@media all and ( min-width: 800px ) {
		width: 12em;
	}
}

.btn-dashboard {
	border-radius: 0;
	text-transform: uppercase;
	background: #1cb0b0;
	border-color: #1cb0b0;
}

h2, h3, h5 {
	font-weight: 500;
	color: #333;
}

.dashboard-wrapper {
	width: 100%;
	overflow: hidden;
	padding: 20px;
	min-height: 100vh;
}

.dashboard-content {
	width: 100%;
}

/* workaround for being able to click the date field (vs just the native calendar arrow) to trigger the html5 calendar in webkit */
input::-webkit-calendar-picker-indicator {
	position: absolute;
    width: 100%;
    opacity: 0;
}

/* workaround for select2 responsive issues */
.select2 {
	width: 100% !important;
}

// define vertical offset based on global header sizes (specified in global-header.js)
:root {
	--globalNavHeightOffset: 90px;

	@media all and ( min-width: 655px ) {
		--globalNavHeightOffset: 112px;
	}

	@media all and ( min-width: 765px ) {
		--globalNavHeightOffset: 97px;
	}

	@media all and ( min-width: 800px ) {
		--globalNavHeightOffset: 73px;
	}
}

// apply vertical offset to main page content
.content {
	padding-top: var(--globalNavHeightOffset);
}

// apply vertical offset to sidebar and grid fixed header
#sidebar,
.fixedHeader-floating {
	top: var(--globalNavHeightOffset) !important;
}

// dataTable styles
$oddBackgroundColor: #f9f9f9;

.dataTable {

	// normalize cell padding
	tbody td {
		padding: 10px 18px !important;
	}

	.icon-link-column {
		padding: 0 0 0 10px !important;
	}

	// adjust padding of detail rows
	tr:not([role="row"]) td {
		padding-top: 0 !important;
	}

	// ensure child rows inherit striped background
	&.stripe {

		tr.odd + tr:not(.even) {
			
			&, td {
				background-color: $oddBackgroundColor;
			}
		}
	}

	.details-row {

		margin-left: 26px;

		&__body {
			padding-top: 5px;
		}
	}

	
}

// dataTable button overrides 
.dt-buttons {
	// ensures column visibility buttons do not overflow the browser viewport when
	// limited results are returned to the report grid
	.dt-button-collection {
		max-height: 1000%;
		overflow-y: auto;
	}
}