<script id="account-sidebar" type="text/x-handlebars-template">

    <ul class="sidebar-list sidebar-list--account">

        <li class="button button--teal account-nav-link \{{#ifeq selectedRoute 'info' }}account-nav-link--active\{{/ifeq}}" data-section="info">
            <i class="fa fa-user"></i>
            <span class="account-nav-link__title">My Information</span>
        </li>

        <li class="button button--teal account-nav-link \{{#ifeq selectedRoute 'events' }}account-nav-link--active\{{/ifeq}}" data-section="events">
            <i class="fa fa-calendar"></i>
            <span class="account-nav-link__title">Events</span>
        </li>

        {{!-- TODO: add a way to test ifeq multiple items --}}
        {{#ifeq user.userType 'social worker'}}
        <li class="button button--teal account-nav-link \{{#ifeq selectedRoute 'children' }}account-nav-link--active\{{/ifeq}}" data-section="children">
            <i class="fa fa-users"></i>
            <span class="account-nav-link__title">Children</span>
        </li>
        {{/ifeq}}

        {{#ifeq user.userType 'families'}}
        <li class="button button--teal account-nav-link \{{#ifeq selectedRoute 'children' }}account-nav-link--active\{{/ifeq}}" data-section="children">
            <i class="fa fa-users"></i>
            <span class="account-nav-link__title">Children</span>
        </li>
        {{/ifeq}}

        {{#ifeq user.userType 'admin'}}
        <a href="/keystone"><li class="button button--green account-nav-link account-nav-link--admin">Admin Panel</li></a>
        {{/ifeq}}

        {{!-- To Be Implemented --}}
        {{!-- <li class="button button--teal account-nav-link \{{#ifeq selectedRoute 'email-list' }}account-nav-link--active\{{/ifeq}}" data-section="email-list">
            <i class="fa fa-envelope"></i>
            <span>Email Lists</span>
        </li> --}}
    </ul>

</script>