<script id="account-donations" type="text/x-handlebars-template">

    <h1 class="account-current-section__title">Your Donation History</h1>

    {{#if donations}}
    <ul>
        {{#each donations}}
        <li>You donated <b>{{currency amount}}</b> {{#if onBehalfOf}} on behalf of {{onBehalfOf}} {{/if}}on {{date}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>You haven't made any donations. Why don't you <a href="/donate">make one now!</a></p>
    {{/if}}

</script>