<script id="account-children" type="text/x-handlebars-template">

        <h1 class="account-current-section__title">Your Children</h1>

        {{> waiting-child-profiles-gallery}}
        {{> waiting-child-profiles-search}}
    
</script>

{{!-- account gallery --}}
{{> waiting-child-profiles-gallery-children-template}}
{{> waiting-child-profiles-gallery-sibling-groups-template}}
{{> waiting-child-profiles-child-details-template}}
{{> waiting-child-profiles-sibling-group-details-template}}