<script id="account-children" type="text/x-handlebars-template">

        <h1 class="account-current-section__title">Your Children</h1>

        <ul>
            {{#each children}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    
</script>