<div class="main">

	<section class="content content--with-sidebar">

		<section class="content-header">
			{{> content-header}}
		</section>

		<section class="content-body">
			{{> flash-messages}}
			{{{body}}}
		</section>

		<aside class="sidebar left-sidebar">
			{{> sidebar}}
		</aside>

	</section>

</div>