<div class="main">

	<section class="content content--with-sidebar">

		{{> content-header}}

		<section class="content-body">
			{{> flash-messages}}
			{{{body}}}
		</section>

		{{> sidebar}}

	</section>

</div>