<section class="content">

	{{> content-header}}

	<div class="content__main content__main--with-sidebar">

		<section class="content__body">
			{{> flash-messages}}
			{{{body}}}
		</section>

		{{> sidebar}}

	</div>

</section>