<section class="content">

	<div class="content__main content__main--with-sidebar">

		<section class="content__body">
			{{> flash-messages}}
			{{{body}}}
			{{> page-actions}}
		</section>

		{{> sidebar}}

	</div>

</section>
