<section class="content">

	<div class="content__main content__main--with-sidebar">

		<section class="content__body {{#if wysiwyg-page}}content__body--wysiwyg{{/if}}">
			{{> flash-messages}}
			{{{body}}}
		</section>

		{{> sidebar}}

	</div>

</section>
