<p class="card-details__paragraph">Throughout the year, MARE hosts adoption parties statewide to bring together social workers,
	waiting children and prospective adoptive parents in casual, interactive settings. These events
	allow families the opportunity to learn more about foster care adoption, meet waiting children
	and network with social workers. Some events are open to families at any stage of considering
	adoption, while others are limited to families with an approved homestudy who are ready to meet
	waiting children. In addition to adoption parties, MARE hosts information meetings for new families,
	matching meetings for social workers and approved families, and networking events with experienced
	families. Sometimes events are targeted towards specific populations of waiting children (such as
	teens, children with special needs, or siblings) or specific populations of families (LGBT community,
	families of color, or single parents.) Sign up to receive our communications to be notified of
	upcoming events as they are planned.</p>

<p class="card-details__paragraph">See <a href="https://drive.google.com/open?id=0B2JFw7FBGTsnVE5LQnloN0hlYzA">Making the Most of an Adoption
	Party for tips</a>.</p>