<p class="card-details__paragraph">Participation in the Massachusetts Approach to Partnership in Parenting (MAPP)
	curriculum is required of all prospective foster and adoptive families in Massachusetts.  MAPP Training is
	offered both by the Department of Children and Families (DCF) and contracted adoption agencies.  MARE does
	not offer MAPP training.  After a prospective family’s application has been submitted to an agency and
	preliminary screenings are met with approval, families will be invited to attend the ten week training.</p>
 
<p class="card-details__paragraph">The training curriculum prepares adults to adopt a child from foster care who
	has experienced neglect and abuse. The training covers such topics as communication, building self-esteem,
	child guidance, understanding behaviors, and working with agencies and courts. The training will also include
	discussions about the children who are waiting to be adopted and resources and support available to you as
	an adoptive family.</p>
 
<p class="card-details__paragraph">The following is a list of upcoming MAPP Trainings.</p>