<div class="events__general-info">
	<p>MAPP Training (The Massachusetts Approach to Partnership in Parenting curriculum is required for all
	prospective foster and adoptive families in Massachusetts. Prior to being invited to MAPP, families
	must submit an application and meet eligibility standards as assessed by the agency hosting the
	training. If you are a Massachusetts agency who would like to post an upcoming MAPP training, please
	submit the form here.</p>

	<p>The following is a list of upcoming MAPP Trainings for Pre-Adoptive Families</p>
</div>