<div class="info-card__text events__adoption-parties-info">
	<p>MARE hosts adoption events all across Massachusetts throughout the year, which range from a small
	group of families and waiting teens cooking a meal together, to a large information Open House at
	Jordan’s Furniture. Some adoption parties are exclusively for families who have already been
	approved to adopt and are ready to meet waiting children, while others are open to the public and
	provide both orientation for new families as well as interaction with waiting children.</p>

	<p>To stay informed about all of our adoption events, subscribe to our Adoption Party email list. While
	adoption parties may be intimidating for families at first, they are a great opportunity to meet social
	workers, experienced adoptive parents, other prospective adoptive families and some of the incredible
	children and teens waiting for adoptive homes. You just never know when that right match will happen!
	See our How to make the most out of an Adoption Party for tips on interacting at Adoption Parties.</p>

	<p>The following is a list of MARE Adoption Parties and Information Events:</p>
</div>