<!-- client side template for rendering the event registration form in a modal -->
<script id="event-registration-form_registered-child-details-template" type="text/x-handlebars-template">

	<div class="col-sm-24 form-group attending-registered-child">

		<div class="row form-group">
            <div class="col-sm-12 form-group">
    			<input type="text" class="input registered-child-input" name="registeredChildName[]" value="\{{ childName }}" disabled="disabled">
                <span class="remove-registered-child link link--remove">x</span>
            </div>
		</div>

	</div>

</script>