<p class="card-details__paragraph">Participation in the Massachusetts Approach to Partnership in Parenting (MAPP)
	curriculum is required of all prospective foster and adoptive families in Massachusetts.  MAPP Training is
	offered both by the Department of Children and Families (DCF) and contracted adoption agencies.  MARE does
	not offer MAPP training.  After a prospective family’s application has been submitted to an agency and
	preliminary screenings are met with approval, families will be invited to attend the ten week training.</p>
 
<p class="card-details__paragraph">The training curriculum prepares adults to adopt a child from foster care who
	has experienced neglect and abuse. The training covers such topics as communication, building self-esteem,
	child guidance, understanding behaviors, and working with agencies and courts. The training will also include
	discussions about the children who are waiting to be adopted and resources and support available to you as
	an adoptive family.</p>
<<<<<<< Updated upstream
=======

<p class="card-details__paragraph">The agencies and organizations that provide MAPP training are:<br>
<p class="card-details__paragraph"><strong><strong>DCF-Statewide:</strong></strong> 
<br>
    1-800-543-7508 or <a href="https://www.mass.gov/how-to/apply-to-adopt-a-child" target="_blank">https://www.mass.gov/how-to/apply-to-adopt-a-child</a><br>
	
<p class="card-details__header">Ascentria Care Alliance – Worcester:</p>
<p class="card-details__paragraph">Eryne Cotter (774) 243-3072 or <a href="mailto:ECotter@ascentria.org">ECotter@ascentria.org</a></p>
    
<p class="card-details__paragraph"> <strong>Berkshire Child and Family Services – Hadley:</strong><br> 
    Alaina Fox at (413) 584-5690 x116 or <a href="mailto:afox@bershirechildren.org">afox@bershirechildren.org</a><br>
    
<p class="card-details__paragraph"> <strong>Bright Futures Adoption Center/RFK – Acton:</strong><br> 
	Karen Cheyney at (978) 263-5400 or <a href="mailto:kcheyney@rfkchildren.org">kcheyney@rfkchildren.org</a><br>

<p class="card-details__paragraph"><strong>Cambridge Family and Children’s Service – Cambridge:</strong><br>
    Sarah Medrano-Palmer at (617) 876-4210 or <a href="mailto:smedrano-palmer@helpfamilies.org">smedrano-palmer@helpfamilies.org</a>
    
<p class="card-details__paragraph"> <strong>Child and Family Services – Lawrence:</strong><br>
    Kali Martin at (978) 687-5852 ext.237 or <a href="mailto:kmartin@cfservices.org">kmartin@cfservices.org</a>f
    
<p class="card-details__paragraph"> <strong>Child and Family Services – Fall River:</strong><br>
    Kerry Mello at (774)-488-5072 or <a href="mailto:kerrymello@cfservices.org">kerrymello@cfservices.org</a>
    
<p class="card-details__paragraph"><strong>Children’s Friend – Worcester:</strong><br>
    Veronica Listerud at (508) 753-5425 or <a href="mailto:vlisterud@childrensfriend.org">vlisterud@childrensfriend.org</a>
    
<p class="card-details__paragraph"><strong>Massachusetts Society for the Prevention of Cruelty to Children (MSPCC)- Jamaica Plain:</strong><br>
    Sybil Turk, at (617)-587-1519 or<a href="mailto:sturk@mspcc.org"> sturk@mspcc.org</a>
    
<p class="card-details__paragraph"><strong>The Home for Little Wanderers – Dorchester:</strong><br>
    Karin Gemeinhardt at (617) 264-5368 or <a href="mailto:Kgemeinhardt@thehome.org">Kgemeinhardt@thehome.org</a></p>
>>>>>>> Stashed changes
 
<p class="card-details__paragraph">The following is a list of upcoming MAPP Trainings.</p>