<p class="card-details__paragraph">Ready to learn more?  Join an information meeting in your area to hear
	directly from social workers and experienced families, have your questions answered, and receive an
	application. </p>