<div class="global-header">
	<div class="content-wrapper">
		<span class="logo-container">
			<img src="/dist/img/mare-logo.png" alt="logo">
			<img src="/dist/img/mare-logo-text.png" alt="logo">
		</span>
		<span class="header-navigation-container">
			{{> top-nav}}
		</span>
	</div>
	{{> main-nav}}
</div>