<div class="global-footer">
	<div class="content-wrapper">
		<section class="social-container">
			<nav class="social-nav">
				<img src="/dist/img/facebook-icon-new.svg" alt="facebook">
				<img src="/dist/img/twitter-icon-new.svg" alt="twitter">
				<img src="/dist/img/pinterest-icon-new.svg" alt="pinterest">
				<img src="/dist/img/youtube-icon-new.svg" alt="youtube">
			</nav>
			<nav class="sponsor-nav">
				<img class="sponsor sponsor-jordans-furniture" src="/dist/img/jordans-furniture-logo-new.svg" alt="jordans furniture">
				<img class="sponsor sponsor-jack-williams" src="/dist/img/jack-williams-logo-new.svg" alt="jack williams">
			</nav>
		</section>
		<nav class="footer-nav">
			<a href="/page/our-services" class="global-footer__link">Contact Us</a>
			<a href="/page/privacy-policy" class="global-footer__link">Privacy Policy</a>
			<a href="/page/non-discrimination-policy" class="global-footer__link">Non Discrimination Policy</a>
			<a href="/page/our-partners" class="global-footer__link">Our Partners</a>
		</nav>
		<div class="contact-info">
			<span class="address">45 Franklin Street, 5th Floor, Boston, MA 02110-1301</span>
			<span class="phone">Phone: 617-54-ADOPT (542-3678)</span>
			<span class="phone">Toll Free: 1-800-882-1176</span>
			<span class="fax">Fax: 617-542-1006</span>
		</div>
		<div class="disclaimer">MARE is partially funded by the Massachusetts Department of Children and Families (DCF)<span class="copyright">&copy; 2015 MARE Inc. All rights reserved.</span></div>
		</div>
	</div>
</div>