<div class="global-footer">
		
		<div class="footer-row">
			<!-- social media --> 
			<nav class="social-nav">
				<a class="social-icon" href="https://www.facebook.com/massadopt/"><i class="fa fa-facebook social-icon--facebook" aria-hidden="true"></i></a>
				<a class="social-icon" href="https://twitter.com/mass_adopt"><i class="fa fa-twitter social-icon--twitter" aria-hidden="true"></i></a>
				<a class="social-icon" href="https://www.instagram.com/mass_adopt/"><i class="fa fa-instagram social-icon--instagram" aria-hidden="true"></i></a>
				<a class="social-icon" href="https://marefamily.blog/"><i class="fa fa-rss social-icon--blog" aria-hidden="true"></i></a>
			</nav>
				
			<!-- links -->
			<nav class="footer-links">
				<div class="footer-links__row">
					<a href="/page/contact-us" class="footer-link">Contact Us</a>
					<span class="footer-link__separator">|</span>
					<a href="/page/privacy-policy" class="footer-link">Privacy Policy</a>
					<span class="footer-link__separator footer-link__separator--show-at-large">|</span>
				</div>
				<div class="footer-links__row">
					<a href="/page/non-discrimination-policy" class="footer-link">Non Discrimination Policy</a><span class="footer-link__separator">|</span>
					<a href="/page/our-partners" class="footer-link">Our Partners</a>
				</div>
			</nav>
		</div>

		<!-- address/phone -->
		<div class="contact-info">
			<div class="contact-item">
				<span>19 Needham Street, Suite 206</span>
				<span>Newton, MA 02461</span>
			</div>
			<div class="contact-item">
				<span>Phone: (617) 964-6273</span>
				<span>Fax: (617) 244-3983</span>
			</div>
		</div>

		<div class="footer-row">
			<!-- sponsors -->
			<nav class="sponsor-nav">
				<img class="sponsor sponsor-jordans-furniture" src="/dist/img/jordans-furniture-logo-new.svg" alt="jordans furniture">
				<img class="sponsor sponsor-jack-williams" src="/dist/img/jack-williams-logo-new.svg" alt="jack williams">
			</nav>

			<!-- disclaimer -->
			<div class="disclaimer">MARE is partially funded by the Massachusetts Department of Children and Families (DCF)<span class="copyright">&copy; 2015 MARE Inc. All rights reserved.</span></div>
			</div>
		</div>
</div>
