<div class="global-header">
	<div class="content-wrapper">
		<img class="logo" src="/dist/img/updated-logo.svg" alt="Massachusetts Adoption Resource Exchange">
		<span class="header-navigation-container">
			{{> top-nav}}
		</span>
	</div>
	{{> main-nav}}
</div>