<div class="global-header">
	<div class="content-wrapper">
		<a href="/">
			<img class="logo logo--horizontal" src="/dist/img/mare-logo-horizontal.svg" alt="Massachusetts Adoption Resource Exchange">
		</a>
		<a href="/">
			<img class="logo logo--vertical" src="/dist/img/mare-logo-vertical.svg" alt="Massachusetts Adoption Resource Exchange">
		</a>
		<span class="header-navigation-container">
			{{> top-nav}}
		</span>
	</div>
	{{> main-nav}}
</div>