<div class="global-header">
	<div class="content-wrapper content-wrapper--mobile-centered">
		<a href="/" class="logo-offset-left">
			<img class="logo logo--horizontal" src="/dist/img/mare-logo-horizontal.svg" alt="Massachusetts Adoption Resource Exchange">
		</a>
		<a href="/">
			<img class="logo logo--vertical" src="/dist/img/mare-logo-vertical.svg" alt="Massachusetts Adoption Resource Exchange">
		</a>
		<span class="header-navigation-container">
			{{> top-nav}}
		</span>
	</div>
	{{> main-nav}}
</div>
<!-- append the Backbone template for rendering the log in modal -->
{{> log-in}}