<section class="section-header section-header--{{ sectionHeader.key }}">
	<span class="section-header__text">{{ sectionHeader.header }}</span>
	<img class="section-header__image" src="{{ sectionHeader.headerImage }}" alt="{{ sectionHeader.header }}">
</section>
