<aside class="sidebar">
	<aside class="callout">
		<span class="description">"It feels so good to be a family," says Brady, who's getting used to being called "Mommy."</span>
		<img class="callout-image" src="/dist/img/success-story-popout.png" alt="callout-image-placeholder">
		<span class="callout-controls">
			<div class="callout-type">Success Stories</div>
			<div class="callout-title">Meet the Whitney Family</div>
			<div class="learn-more">
				<span>Learn more</span><span class="icon-double-arrow-right">&gt;&gt;</span>
			</div>
		</span>
	</aside>
</aside>