<nav class="top-nav">
	<ul class="nav">
		<li class="top-nav-item home-link"><a href="/">Home</a></li>
		{{#if user }}
			<li class="top-nav-item log-out-link"><a href="/logout">Log Out</a></li>
		{{else}}
			<li class="top-nav-item log-in-link">
				<span class="log-in-link-text">Log in</span>
				<span class="arrow-down"></span>
				{{> log-in}}
			</li>
		{{/if}}
		<li class="top-nav-item donate-link-container"><a href="/donate">Donate</a></li>
		<li class="top-nav-item hamburger">
			<a href="#mobile-menu">
				<img src="/dist/img/hamburger.png">
			</a>
		</li>
	</ul>
</nav>