<section class="gallery">
	<section class="card card--vertical card--large-padding">
		<div class="card-details">
			<div class="card-details__header">Waiting Child Profiles</div>
			<div class="card-details__body">
				<p class="card-details__paragraph">We invite you to get to know some of the dynamic children and
					teens who are waiting for adoption in Massachusetts.  All of the children profiled below are
					in the custody of the Massachusetts Department of Children and Families, have a goal of
					adoption, and are waiting for a family to call their own.  Siblings profiled are in need of
					a family who can provide them a home together.  Please consider these profiles merely an
					introduction to the child.  We respect the privacy of children and do not list medical or
					mental health issues, nor are we able to capture the full strengths and personality of
					the child.  To learn more about a specific child or sibling group, please submit a Request
					for Information Form.   A MARE staff person will respond to your inquiry with additional
					details, and if appropriate connect you with the child’s social worker.</p>

				<p class="card-details__paragraph">The profiles below are limited to those children or sibling
					groups who have been legally freed for adoption.  If you are a New England or New York family
					with a current, approved homestudy for foster care adoption, you can submit your homestudy
					for verification, allowing you access to an additional pool of waiting children who have not
					yet been legally freed.  To submit your homestudy for verification, contact
					<a href="mailto:dianet@MAREinc.org">Diane Tomaz</a>.</p>
			</div>
		</div>
		<!-- TODO: this section still needs to be redone once design is discussed with Anna -->
		<section class="filters">

			<div class="button-group button-group--horizontal button-group--large-margin-above button-group--large-margin-below">
				<button class="button button--medium button--teal filters__search-button filters__search-button--modify">Modify Search</button>
				<button class="button button--medium button--teal filters__search-button filters__search-button--clear">Clear Search</button>
				{{#if canBookmarkChildren}}
				<!-- REDESIGN TODO: remove left margin on button... might affect other buttons -->
				<button class="button button--medium button--teal filters__search-button filters__search-button--show-saved-children {{#unless hasBookmarkedChildren}}hidden{{/unless}}">Show Saved</button>
				{{/if}}
			</div>

			<div class="filters__modify-search-explanation">Your search results are displayed below.</div>
		</section>
	</section>

	<div class="button-group button-group--space-between button-group--medium-margin-above button-group--medium-margin-below button-group--wrap">
		<select class="waiting-child-profiles__gallery-filter waiting-child-profiles-filter">
			<option value="registered">Sort by Most Recent</option>
			<option value="name">Sort by Name</option>
			<option value="age">Sort by Age</option>
		</select>

		<div class="icon-key">
			<span class="icon-text-unit filter">
				<img class="icon-text-unit__icon video" src="/dist/img/icon-video.png">
				<span class="icon-text-unit__text">Video Profile</span>
			</span>
			<span class="icon-text-unit filter">
				<img class="icon-text-unit__icon wednesdays-child" src="/dist/img/icon-wednesdays-child.png">
				<span class="icon-text-unit__text">Wednesday's Child</span>
			</span>
		</div>
	</div>

	<section class="profiles-container"></section>
</section>
