<section class="gallery">
	<div class="page-header">
		<span class="page-header-text">Waiting Child Profiles</span>
	</div>

	<section class="filters">

		<div class="filters__search">
			<span class="filters__modify-search-explanation">Your search results are displayed below.</span>
			<button class="button filters__search-button filters__search-button--modify">Modify Search</button>
			<button class="button filters__search-button filters__search-button--clear">Clear Search</button>
		</div>

		<select class="waiting-child-profiles__gallery-filter waiting-child-profiles-filter">
			<option value="registered">Sort by Most Recent</option>
			<option value="name">Sort by Name</option>
			<option value="age">Sort by Age</option>
		</select>

		<div class="icon-key">
			<span class="icon-text-unit filter">
				<img class="icon-text-unit__icon video" src="/dist/img/video-icon.png">
				<span class="icon-text-unit__text">Video Profile</span>
			</span>
			<span class="icon-text-unit filter">
				<img class="icon-text-unit__icon wednesdays-child" src="/dist/img/wednesdays-child-icon.png">
				<span class="icon-text-unit__text">Wednesday's Child</span>
			</span>
		</div>
	</section>
	<section class="profiles-container"></section>
</section>
