<div class="card card--vertical card--large-padding">

	<h1 class="card__title">Information Request</h1>

	{{#if isSiteVisitor}}

	<section class="card_content-group">
		<div class="card__content-block card__content-block--centered">
			Thanks for your interest in making an inquiry! To start your adoption journey, <a href="/register#family">create a family account</a>. You will receive more information about adoption and be able to make inquiries about specific children once your account is active.
		</div>
	</section>

	{{else}}

	<section class="card_content-group">
		<div class="card__content-block card__content-block--centered">
			Thanks for your interest in making an inquiry! To start your adoption journey, <a href="/register#family">create a family account</a>. You will receive more information about adoption and be able to make inquiries about specific children once your account is active.
			<br> Need help? <a href="https://share.hsforms.com/1ryc8u_lySjWSez4Fw5prrwd0034">Ask a Question</a> and our Family Support Services team will help in any way they can."
		</div>
	</section>
	
	{{/if}}
</div>
