<div class="card card--vertical card--large-padding">

	<h1 class="card__title">Create an Account</h1>

	{{#if registrationSubmitted}}
		<h3>Thanks for registering.</h3>
		<p>You can now try to log in.</p>
	{{else}}
	<div class="form-intro">
		To request additional information, attend an event or join our newsletter subscriptions, please create an account, selecting the user type that best describes you:
	</div>
	<div class="form-intro">
		Prospective Parent is anyone in the process of learning about or pursuing adoption. We strongly recommend only creating one account <i>per family</i>. If you believe your family may already have an account established, please try any possible email addresses before creating a new account.
	</div>
	<div class="form-intro">
		Social Worker accounts are for MA social workers working for DCF or contracted agency.
	</div>
	<div class="form-intro">
		Site visitor is anyone else who would love to learn more about MARE and the impact of our work.
	</div>
	<div class="form-intro">
	Please note that all new accounts will receive email updates from MARE. If you do not wish to receive these emails, simply unsubscribe from our emailing list upon receipt.
	</div>
	<div class="registration-type-selector-container">
		<select class="registration-type-selector" name="registration-type-selector">
			<option value="prospectiveParent" selected="selected">Prospective Parent</option>
			<option value="socialWorker">Social Worker</option>
		</select>
	</div>

	{{> registration-form-family}}
	{{> registration-form-site-visitor}}
	{{> registration-form-social-worker}}

	{{/if}}

</div>
