<div class="card card--vertical card--large-padding social-worker-child-registration-container">

	<h1 class="card__title create-child-content">Child Registration</h1>
	<h1 class="card__title edit-child-content hidden">Child Registration Update</h1>

	<div class="form-intro create-child-content">To register a Massachusetts child for recruitment services, please submit the form
		below with as much detail as possible. The more information we have about a child, the better able we
		are to target our recruitment efforts specific to this child. Discretion will be used in deciding what
		information is shared with the public.</div>

	<div class="form-intro create-child-content">To complete registration, please email a clear photo of the child to your Child Services Coordinator or to <a href="mailto:web@mareinc.org">web@mareinc.org</a> with the child's
		name in the subject. A photo is required regardless of the child's legal status. Once submitted, you will
		be emailed a copy of the form for your records.</div>

	{{> social-worker-create-child-form}}

	{{#if hasRegisteredChildren}}
	{{> social-worker-edit-child-form}}
	{{/if}}

</div>
