<div class="dashboard-wrapper">

	<!-- Side Navigation -->
	{{> tools-sidebar}}

	<!-- Page Content -->
	<button type="button" class="menu-link btn btn-info mb-4">Reports</button>
	<div class="dashboard-content"></div>

</div>

<!-- Templates: -->
{{> tools-dashboard-template}}
{{> tools-child-matching-request-template}}
{{> tools-child-matching-template}}
{{> tools-family-matching-request-template}}
{{> tools-family-matching-template}}
{{> tools-inquiry-report-template}}
{{> tools-placement-report-template}}
{{> tools-media-features-report-template}}
{{> tools-child-listing-report-template}}
{{> tools-family-listing-report-template}}
