<div class="dashboard-wrapper">
	
	{{> dashboard-sidebar}}
		
	<!-- Page Content -->
    <div class="dashboard-content">
		<form method="get" action="/tools/child-matching" method="get">
			
			<div class="form-row align-items-center d-flex justify-content-center">
				<div class="col-auto">
					<label for="child">Child:</label>
				</div>
				
				<div class="col-sm-4">
					<select id="child" name="child" class="form-control child-select">
						
					</select>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
			
		</form>
	
		{{#if familyNotFound }}
			Child was not found
		{{/if}}
	</div>
</div>