<div class="dashboard-wrapper">

	{{> dashboard-sidebar}}
		
	<!-- Page Content -->
    <div class="dashboard-content">
		<form method="get" action="/tools/family-matching" method="get">
			
			<div class="form-row align-items-center d-flex justify-content-center">
				<div class="col-auto">
					<label for="family">Family:</label>
				</div>
				
				<div class="col-sm-4">
					<select id="family" name="family" class="form-control family-select">
						
					</select>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
			
		</form>
	
		{{#if familyNotFound }}
			Family was not found
		{{/if}}
	</div>
</div>