.info-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $background-color-light;
	// box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 2px;
	padding: 0.25em 1em;
	margin-bottom: 1.5em;

	&--warning {
		border-left: 1.5em solid $border-color-5;
	}

	&--error {
		border-left: 1.5em solid $border-color-6;
	}

	&--centered {
		align-items: center;
		justify-content: center;
	}

	&--spacious {
		padding: 2em 1em;
	}
}