.button-group {
	display: flex;

	&--relative {
		position: relative;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--horizontal {
		flex-direction: row;
	}

	&--vertical {
		flex-direction: column;
	}

	&--centered {
		justify-content: center;
	}

	&--space-between {
		justify-content: space-between;
	}

	&--space-around {
		justify-content: space-around;
	}

	&--small-margin-above {
		margin-top: 0.75em;
	}

	/* use these */
	&--medium-margin-above {
		margin-top: 1em;
	}

	&--large-margin-above {
		margin-top: 2em;
	}

	&--small-margin-below {
		margin-bottom: 0.75em;
	}

	&--medium-margin-below {
		margin-bottom: 1em;
	}

	&--large-margin-below {
		margin-bottom: 2em;
	}
}

.button-group__label {
    text-align: center;
    margin: 1em 0;
    font-weight: bold;
}