.main {
	padding-top: 1px;

	@media all and (min-width: 660px) { padding-bottom: 3%; }
}

.content {
	margin: auto;
	padding: 111px 0 40px;
	color: $main-content-color;
	background-color: $light-background-color;

	@media all and (min-width: 460px) { padding-top: 123px; }
	@media all and (min-width: 480px) { padding-top: 134px; }
	@media all and (min-width: 660px) { padding-top: 90px; }
	@media all and (min-width: 820px) { padding-top: 0; }
}

.content > .content-body {
	background-color: $light-background-color;
	margin-bottom: 20px;

	@media all and (min-width: 660px) {
		width: 100%;
		display: inline-block;
		padding: 0 10px;
	}
}

.content--with-sidebar > .content-body {
	@media all and (min-width: 660px) {
		width: 75%;
		display: inline-block;
		padding: 0 10px;
	}
}