.sidebar {
	display: none;

	@media all and (min-width: 660px) {
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		margin-left: 1.5em;
		padding: 0 1em 1em 1em;
		width: 450px;

	}

	&--slim {
		@media all and (min-width: 660px) {
			margin: 0;
			width: 240px;
		}
	}
}

.sidebar__card {
    margin-bottom: 2em;

	&--small-margin-bottom {
		margin-bottom: 1em;
	}
}

.sidebar__bottom-links {
	margin-bottom: 1em;
}