.sidebar {
	display: none;

	@media all and (min-width: 660px) {
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		margin-left: 1.5em;
		padding: 0 1em 1em 1em;
		width: 450px;
	}
}

.sidebar__item {
	background-color: $white;
	box-shadow: 0 0 24px 0 $light-gray;
	display: flex;
    flex-direction: column;
	margin-top: 2em;
	padding: 0.75em;

	&:first-child {
		margin-top: 0;
	}
}

.sidebar__links {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.sidebar__button {
	width: 100%;
}

.sidebar__separator {
	color: $robin-blue;
    padding-left: 0.5em;
    padding-right: 0.5em;
}