.callout {
    color: $callout-text-color-1;
}

.callout__description {
    @media all and (min-width: 660px) {
        display: block;
        line-height: 1.3;
        font-size: 1em;
        padding: 0 0 1em 0;
    }
}

.callout__image {
    @media all and (min-width: 660px) {
       height: auto;
       max-width: 400px;
       width: 100%;
    }
}

.callout__details {
    @media all and (min-width: 660px) {
        display: flex;
        flex-direction: column;
        padding: 1.5em 0.25em 1em 0.25em;
    }
}

.callout__element {
	&--space-below {
		margin-bottom: .5rem; // rems to counter changes in text size for elements we're adding space to
	}

	&--small-text {
		font-size: .9em;
	}
}

// this should only be used for the top sidebar element
// aka Meet the Children
.callout__header {
    @media all and (min-width: 660px) {
        display: block;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1.2em;
        text-align: center;
    }
}

.callout__link {
    @media all and (min-width: 660px) {
        font-size: 1em;
        line-height: 1.2em;
        padding-right: 0.25em;
        text-align: right;
    }
}
