.global-header {
	position: fixed;
	top: 0;

	background-color: $header-background-color;	
	// TODO: use custom header background image (url) for each menu section
	background: linear-gradient( 
					rgba(46, 78, 135, 0.9), 
					rgba(46, 78, 135, 0.9)
				), 
				url('../images/aboutus.jpg') center center no-repeat;
	background-size: cover;
	min-width: 320px;
	transition: box-shadow 200ms ease-in-out;
	// TODO: think about a nice cubic-bezier here
	transition: height 400ms ease-in-out;
	width: 100%;
	z-index: 10;

	box-shadow: 0 4px 5px 0 $lightest-gray, 0 1px 10px 0 $light-gray, 0 2px 4px -1px $medium-gray;
}

.global-header .logo {
	margin: 1em;
	pointer-events: auto; // TODO: overrides the perhaps too broad img { pointer-events: none } to protect images.  Perhaps we should rethink the scope of that selector or the method used to restrict image copying

	&--vertical {
		display: none;
		width: 10em;

		@media all and (min-width: 655px) {
	    	display: inline;
	    }

		@media all and (min-width: 765px) {
			display: none;
		}
	}

	&--horizontal {
	    width: 17em;

	    @media all and (min-width: 655px) {
	    	display: none;
	    }

	    @media all and (min-width: 765px) {
	    	display: inline;
			width: 19em;
	    }

		@media all and (min-width: 800px) {
			width: 22em;
		}
	}

}

.logo-offset-left {
	/* offset for width of hamburger menu */
	margin-left: -24px;

	@media all and (min-width: 655px) {
		margin-left: 0;	
	}
}

.site-nav {
	margin-top: 30px;
	margin-left: 4%;
	font-size: 1.1em;
}

// TODO: put these in the correct place
.global-header .top-nav .hamburger {
	display: block;
	padding-left: 1em;

	@media all and (min-width: 655px) {
		display: none;
	}
}