.global-footer {
	color: $footer-text-color;
	background-color: $footer-background-color;
	padding: 1.1em;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.global-footer .social-nav {
	display: flex;
    justify-content: space-between;
    width: 30%;
}

.global-footer .sponsor-nav {
	display: flex;
    justify-content: space-between;
    width: 30%;
}

.global-footer .footer-nav {
	display: flex;
    color: $footer-text-color;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto 2.5em;
}

.global-footer .contact-info {
	text-align: center;
	margin-bottom: 1em;
}

.global-footer__link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

// THIS IS WHERE YOU LEFT OFF, FIX FOR FOOTER-NAV

.global-footer .footer-nav > span:after,
.global-footer .contact-info > span:after {
	content: " |";
	margin: 0 2px;
	font-size: 1.2em;
}

.global-footer .footer-nav > span:after,
.global-footer .contact-info > span:last-child:after {
	content: "";
	margin: 0;
	font-size: 1em;
}

.global-footer .disclaimer {
	text-align: center;
	margin-top: 10px;
}

.global-footer .disclaimer > .copyright {
	margin-left: 5px;
}