.toggle-button {

    padding: 1em;
    border-radius: 2px;
    border-style: none;
	background-color: $button-background-color-2;
	color: $text-color-light;
	transition: color 0.5s ease,
				background-color 0.5s ease;

	&:focus {
		outline: none;
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	&--toggled {
		cursor: default;
		background-color: $button-background-color-4;
		box-shadow: none;
	}
	// Handles sizing the toggle button to allow for four buttons on the screen at large sizes
	&--quarter {

		width: 47%;
		margin-bottom: 0.5em;

		@media all and (min-width: 800px) {
			width: 22%;
		}
	}
	// Handles sizing the toggle button to allow for six buttons on the screen at large sizes
	&--sixth {

		width: 47%;
		margin-bottom: .5em;

		@media all and (min-width: 480px) {
			width: 30.4%;
		}

		@media all and (min-width: 850px) {
			width: 13.87%;
		}
	}
}
