.restore-form-data__container {
    margin-top: 1em;
    font-size: 0.9em;
    padding: 0.75em 2em;
    margin-left: -2em;
    margin-right: -2em;
    color: $text-color-light;

    &--info {
        background-color: $background-color-13;
    }

    &--action {
        background-color: $flash-message-color-8;
    }
}


.restore-form-data__message-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.restore-form-data__controls {
    margin-top: 1.5em;
}

.restore-form-data__control {
    cursor: pointer;

    &:hover {
        color: $text-color-dark;
    }
}

.restore-form-data__control:nth-child(n + 2) {
    margin-left: 2em;
}