/* TODO: the modal contents should be broken out into their own component/page files */
.modal {
	position: fixed;
	z-index: 100;
}

.modal__background {
	display: none;
	position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $background-color-dark;
    opacity: .6;
}

.modal__container {
	display: none;
	position: fixed;
    z-index: 200;
    background-color: $background-color-light;
    width: 100%;
    height: 100%;
	min-width: 320px;
	padding: 2.5em 0 1em 1em;

    @media screen and ( min-width: 655px ) {
	    width: 600px;
	    height: 600px;
	    left: 50%;
	    top: 50%;
	    margin-left: -300px;
	    margin-top: -300px;
	}

	&--small {

		@media screen and ( min-width: 655px ) {
			height: 26em;
			margin-top: -13em;
		}
	}

	&--hidden {
		display: none;
	}
}

.modal__close {
	z-index: 10;
	position: absolute;
	top: 0.5em;
    right: 0.5em;
    color: $modal-color-1;
    cursor: pointer;
    background-color: $background-color-light;
}

.modal-container__loading {
	position: relative;
	height: 100%;
}

.modal-container__loading-image {
	position: absolute;
	top: calc( 50% - 50px );
	left: calc( 50% - 50px );
	width: 100px;
	height: 100px;
}

.modal-container__contents {
	position: relative;
	height: 100%;
	padding: 1em;
	overflow-y: auto;
	/* TODO: this will only work for modal--small contents, need to move it or adjust to work across the board */
	&--vertically-centered {
		padding-top: 15em;

		@media all and ( min-width: 655px ) {
			padding-top: 0;
		}
	}
}

/* TODO: move these styles to a more appropriate place once the modal content areas are broken out better */
.log-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	height: 100%;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
	color: #5C5B5C;
}

.log-in-form__header-container {
	margin-bottom: 2em;
	border-bottom: 3px solid $border-color-11;
}

.log-in-form__header {
	display: flex;
    font-size: 2em;
    padding: .5em 2em;
	font-weight: 300;
}

.log-in-form__input-container {
	margin-bottom: 1em;
}

.log-in-form__label {
	font-size: 0.9em;
	position: relative;
}

.log-in-form__forgot-password {
	position: relative;
    bottom: 1.3em;
    left: 13.2em;
}

.log-in-form__log-in-button {
	margin-bottom: 1em;
}

.log-in-form__register {
	font-size: 0.8em;
	text-decoration: none;
}

/* TODO: move these styles for modal forms to a more appropriate place */

.modal-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.modal-form-header__text {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    width: 100%;
    display: inline-block;
	border-bottom: 3px solid rgb(51, 183, 184);
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	
	@media all and ( min-width: 655px ) {
		width: 80%;
	}
}

.modal-form__subheader {
    font-size: 1.1em;
    font-weight: 300;
}