/* TODO: Placed up at the top because this will become the standard button style */
/* TODO: #25| subtask update all buttons on the page to use the .button styles */
.button {
	padding: 1em;
	border-radius: 2px;
	border-style: none;
	margin-left: 1%; /* these are here because buttons in button groups squish together // TODO: find a better way */
	margin-right: 1%;
	min-width: 8em;
	transition: 0.5s ease;
	font-size: 0.9em;

	&:focus {
		outline: none;
	}

	&--medium {
		width: 9em;
	}

	&--large {
		width: 11em;
	}

	&--extra-large {
		width: 18em;
	}

	&--thin {
		padding: 0.5em;
	}

	&--brown {
		color: $button-text-color-light;
		background-color: $button-background-color-1;
	}

	&--blue {
		color: $button-text-color-light;
		background-color: $button-background-color-2;
	}

	&--red {
		color: $button-text-color-light;
		background-color: $button-background-color-4;
	}

	&--teal {
		color: $button-text-color-light;
		background-color: $button-background-color-1;

		&:hover {
			background-color: $button-background-color-3;
		}
	}

	&--green {
		color: $button-text-color-light;
		background-color: $button-background-color-2;

		&:hover {
			background-color: $button-background-color-4;
		}
	
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--disabled {
		color: $button-text-color-2;
		background-color: $button-background-color-5;
		cursor: default;

		&:hover {
			background-color: $button-background-color-5;
		}
	}

	& a {
		text-decoration: none;
		color: inherit;
	}
}

// TODO: The elements below can be phased out during the final round of technical debt fixing
.file-upload-button {
	max-width: 9em;
    text-align: center;
}

.file-upload-button input.file-upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha( opacity = 0 );
}
