.links {
	display: flex;
	justify-content: center;
}

.link-separator {
	color: $link-color-1;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.link-arrow {

	&--left {
		&:before {
			border: solid $link-color-1;
			border-width: 0 2px 2px 0;
			content: '';
			display: inline-block;
			padding: 4px;
			margin-right: 4px;
			transform: rotate(135deg);
		}
	}	

	&--right {
		&:after {
			border: solid $link-color-1;
			border-width: 0 2px 2px 0;
			content: '';
			display: inline-block;
			padding: 4px;
			margin-left: 4px;
			transform: rotate(-45deg);
		}	
	}
}

.link {
	color: $link-color-1;

	&--remove {
		color: $link-color-2;
	}
}