.slideshow-container {
	margin: -1em -0.75em -0 -0.75em;

	@media all and ( min-width: 655px ) {
		margin-top: 1.9em;
	}

	@media all and ( min-width: 660px ) {
		margin-top: -0.6em;
	}

	@media all and ( min-width: 765px ) {
		margin-top: -1.5em;
	}

	@media all and ( min-width: 800px ) {
		margin-top: -0.9em;
	}
}