.featured-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin: 1em 0;
    padding: 0;

    @media all and (min-width: 860px) {
        flex-direction: row;
    }
}

.featured-items .featured-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    list-style: none;
    background-color: $description-background-color-2;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* TODO: same as card, maybe make these a card variant */

    @media all and (min-width: 420px) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    @media all and (min-width: 540px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    @media all and (min-width: 860px) {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.featured-item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $dark-text-color;
}

.featured-item img {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    margin: 1em 0;
}

.featured-item-description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.featured-item .featured-item-title,
.featured-item .featured-item-summary {
	display: block;
    width: 100%;
}

.featured-item .featured-item-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    height: 2.5em;
}

.featured-item .featured-item-summary {
    flex-grow: 1;
	font-style: italic;
	margin-bottom: 1em;
}