/* styles for the forms/* pages */
.form-intro {
	margin: 0 0 10px;
}

// TODO: Handle messed up styles on all forms pages entered through the WYSIWYG editor
form > div {
    clear: both;
}

select {
    background-color: $background-color-light;
    border: 1px solid $form-color-3;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group__header {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: $teal;
    font-weight: 600;
}

.change-form-text {
    margin: 2em 0;
}

.checkbox-inline,
.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}

.input-inline {
    display: inline-block;
    padding: 5px;
    width: auto;
}
.indented-text {
    position:relative
}
.indent-text {
    position: relative;
    top: -15px;
    left: 55px;
}
.top-label {
    margin-bottom: 5px;
}

.form-field-note {
	font-size: 0.8em;
	opacity: 0.8;
	margin: -5px 0 15px
}

.form-field-callout {
    border-color: $caramel;
    background-color: $beeswax;
}

@media all and ( max-width: 768px ) {

    .marg-bottom-xs-5 {
        margin-bottom: 5px;
    }
}
