.global-footer {
	background-color: $footer-background-color;
	padding: 3em 0;

	@media screen and (min-width: 660px) {
		padding: 3em 0 0 0;
	}
}

.footer-line {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 660px) {
		flex-direction: row-reverse;
		justify-content: center;
		padding: 0 2em 2em;
    }
}

.social-nav {
	display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin-bottom: 1em;

	@media screen and (min-width: 660px) {
		margin-bottom: 0;
    }
}

.social-icon {
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 24px $dark-gray;
	padding: 0.5em;
	height: 2em;
	width: 2em;
	text-align: center;

	&--facebook {
		color: $facebook;
	}

	&--twitter {
		color: $twitter;
	}

	&--youtube {
		color: $youtube;
	}

	@media screen and (min-width: 660px) {
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}
    }
}

.footer-links {	
    color: $footer-text-color;
    margin-bottom: 2.5em;

    @media screen and (min-width: 660px) {
    	align-items: center;
    	display: flex;
    	flex-shrink: 0;
    	flex-grow: 1;
    	margin-bottom: 0;
    }
}

.footer-link {
	border-bottom: 1px solid $dark-blue;
	color: $text-color-light;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    padding: 1em 2em;
    text-decoration: none;

    @media screen and (min-width: 660px) {
    	border-bottom: none;
    	padding: 0;
    	font-size: 1em;
    	font-weight: regular;    	
    }
}

.footer-link__separator {
	display: none;

	@media screen and (min-width: 660px) {
		display: block;
		padding: 0 0.5em;
		font-size: 1em;
	}
}

.contact-info {
	color: $text-color-light;
	font-size: 1.1em;
	line-height: 1.5;
	margin-bottom: 2.5em;
	text-align: center;

	@media screen and (min-width: 660px) {
		text-align: left;
		display: flex;
		font-size: 1em;
		margin-left: 2em;
	}
}

.contact-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;

	@media screen and (min-width: 660px) {
		padding-right: 2em;

		&:last-child {
			padding-right: 0;
		}
	}
}

.sponsor-nav {
	display: flex;
	margin-bottom: 2.5em;
}

.sponsor {
	flex-basis: 50%;

	@media screen and (min-width: 660px) {
		padding-right: 2em;

		&:last-child {
			padding-right: 0;
		}
	}
}

.disclaimer {
	color: $text-color-light;
	font-size: 0.75em;
	line-height: 1.75;
	padding: 0 3em;

	@media screen and (min-width: 660px) {
		flex-grow: 1;
		flex-shrink: 0;
		font-size: 1em;
		line-height: 1.2;
		padding: 0;
	}
}

.disclaimer > .copyright {
	margin-left: 5px;
}