// override the mobile menu anchor widths to allow clicking anywhere on a line to open a sub-menu if it exists
em.mm-counter+a.mm-next {
    width: 100%;
}

nav ul {
	margin: 0;
	padding:0;
	list-style: none;
}

.header-navigation-container {
	float: left;

	@media all and (min-width: 655px) {
		float: right;
	}
}

.top-nav {
	display: flex;
}

.top-nav__items {
	align-items: center;
	display: flex;
	padding: 2em 1em 0 0;
}

.top-nav__item {
	color: $text-color-light;
	cursor: pointer;
	display: none;
	margin-left: 1em;

	&:first-child {
		margin-left: 0;
	}

	@media all and (min-width: 655px) {
		display: flex;
	}
}

.top-nav__button {
	align-items: center;
	background-color: $teal;
	border-radius: 3px;
	cursor: pointer;
	padding: 0.75em 3em;

	&--extra-space-left {
		margin-left: 2em;
	}

	&--green {
		background-color: $green;
	}  

	&--relative {
		position: relative;
	}
}

.top-nav__link {
	color: $text-color-light;
	text-decoration: none;
}

.main-nav {
	display: none;
	padding: 0 0.25em;

	@media all and (min-width: 655px) {		
		display: flex;		
		justify-content: space-around;
	}
}

.main-nav__items {
	display: flex;
	list-style: none;
	margin: 0;
	padding:0;

	&--submenu {
		align-items: flex-start;
		background-color: $header-background-color;
		flex-direction: column;
		left: -99999em;
		position: absolute;
		width: 100%;
		z-index: 10;
	}

	&--right {
		align-items: flex-end;
	}
}

.main-nav__item {
	flex-grow: 1;
	flex-shrink: 0;	

	&.active {
		.main-nav__link {
			border-bottom: 5px solid $nav-underline-color;
	    	padding-bottom: 5px;

	    	&--submenu {
	    		border-bottom: none;
	    		padding: 1em;
	    	}
		}
		.main-nav__items--submenu {
			left: 0;
		}
	}

	&--submenu {
		align-items: center;
		display: flex;

		&:hover {
			.main-nav__hover-indicator {
				visibility: visible;
			}
		}
	}
}

.main-nav__hover-indicator {
	background-color: $nav-underline-color;
	visibility: hidden;
	height: 5px;
	width: 10px;

	// TODO: figure out if we want the hover indicators to move when the alignment does
	&--right {
		order: 1;
	}
}

.main-nav__link {
    color: $nav-text-color-2;
	display: flex;
    font-size: 0.75em;
	height: 100%;
    justify-content: center;
    padding: 0.7em 0.4em;
    position: relative;
    text-decoration: none;
    transition: font ease-in-out 0.6s;

    @media all and (min-width: 850px) {
    	font-size: 1em;
    }

}
