// override the mobile menu anchor widths to allow clicking anywhere on a line to open a sub-menu if it exists
em.mm-counter+a.mm-next {
    width: 100%;
}

nav ul {
	margin: 0;
	padding:0;
	list-style: none;
}

.header-navigation-container {
	float: left;

	@media all and (min-width: 655px) {
		float: right;
	}
}

.top-nav {
	display: flex;
}

.top-nav__items {
	align-items: center;
	display: flex;
	padding: 2em 1em 0 0;
}

.top-nav__item {
	color: $text-color-light;
	cursor: pointer;
	display: none;
	
	&:first-child {
		margin-left: 0;
	}

	@media all and (min-width: 655px) {
		display: flex;
		margin-left: 1em;
	}
}

.top-nav__buttons {
	margin-left: 2em;
}

.top-nav__button {
	align-items: center;
	background-color: $teal;
	cursor: pointer;
	padding: 0.75em 3em;
	transition: background 100ms ease-in-out;
	width: 100%;

	&:hover {
		background-color: $hover-teal;
	}

	&--extra-space-left {
		margin-left: 2em;
	}

	&--green {
		background-color: $green;

		&:hover {
			background-color: $hover-green;
		}
	}  

	&--relative {
		position: relative;
	}

	@media all and (min-width: 655px) {
		border-radius: 3px;
		width: inherit;
	}
}

.top-nav__link {
	color: $text-color-light;
	text-decoration: none;
}

.main-nav {
	display: none;
	padding: 0 0.25em;

	@media all and (min-width: 655px) {		
		display: flex;		
		justify-content: space-around;
	}
}

.main-nav__items {
	display: flex;
	list-style: none;
	margin: 0;
	max-width: 900px;
	padding: 0;
	width: 100%;

	&--submenu {
		align-items: flex-start;
		flex-direction: column;
		left: -99999em;
		max-width: inherit;
		opacity: 0;
		position: absolute;
		transition: opacity 200ms ease-in-out;
		transition-delay: 250ms;
		width: 100%;
		z-index: 10;
	}

	&--right {
		align-items: flex-end;
	}
}

// TODO: find a better way to target this (if there is one)
.main-nav__item--active .main-nav__items--right  .main-nav__link--submenu {
	padding-right: 0;
}

.main-nav__item {
	flex-grow: 1;
	flex-shrink: 0;	

	&--active {
		.main-nav__link {
			border-bottom: 5px solid $nav-underline-color-2;
	    	padding-bottom: 5px;

	    	&--submenu {
	    		border-bottom: none;
	    		padding: 1em;
	    	}
		}
		.main-nav__items--submenu {
			left: 0;
			opacity: 1;
		}
	}

	&--submenu {
		align-items: center;
		display: flex;		
	}
}

.main-nav__link {
    color: $nav-text-color-2;
	cursor: pointer;
	display: flex;
    font-size: 0.75em;
    font-weight: 300;
	height: 100%;
    justify-content: center;
    padding: 0.75em;
    position: relative;
    text-decoration: none;
    transition: border 200ms ease-in-out;

    @media all and (min-width: 850px) {
    	font-size: 1em;
    }

    &--submenu {
    	&:hover {
			color: $nav-hover-color;
		}
    }

	&--underlined {
		border-bottom: 5px solid $nav-underline-color-1;
		padding-bottom: 5px;
	}

}
