.callout {
    color: $callout-text-color-1;
}

.callout__description {
    @media all and (min-width: 660px) {
        display: block;
        padding: 10px;
        font-style: italic;
        font-size: 1.5em;
        line-height: 1.2em;
    }
}

.callout__image {
    @media all and (min-width: 660px) {
        width: 90%;
        border-radius: 50%;
    }
}

.callout__details {
    @media all and (min-width: 660px) {
        display: flex;
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }
}

.callout__element {
	&--space-below {
		margin-bottom: .5rem; // rems to counter changes in text size for elements we're adding space to
	}

	&--small-text {
		font-size: .9em;
	}
}

.callout__header {
    @media all and (min-width: 660px) {
        display: block;
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
        line-height: 1.2em;
    }
}

.callout__title {
    @media all and (min-width: 660px) {
        font-style: italic;
        font-size: 1.5em;
        line-height: 1.2em;
        text-align: center;
    }
}
