.content-header {
	margin-bottom: 15px;

    @media all and (min-width: 660px) { background-color: #8FCED6; }
}

.content-header__text {
	display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #8FCED2;
    padding: 10px 0;
    background-color: #3C4573;

    @media all and (min-width: 660px) {
        display: inline-block;
        text-transform: none;
        color: inherit;
        padding: 0;
        background-color: inherit;
        width: 40%;
    }
}

.content-header__image {
	width: 100%;

    @media all and (min-width: 660px) {
        display: inline-block;
        vertical-align: middle;
        width: 59.4%;
    }
    /* small adjustments to ensure image stays snugly against the right side of the header */
    @media all and (min-width: 790px) { width: 59.5%; }
    @media all and (min-width: 965px) { width: 59.6%; }
}