// $top-nav-brown: ##66584D;
// $header-yellow: ##FFFAC2;
// $site-nav-brown: ##5D4E45;

.global-header: {
	background-color: $header-yellow;
}

.global-header > img {
	position: relative;
	top: 10px;
	left: 10px;
}

.global-header > .top-nav {
	position: relative;
	top: 0;
	left: 20px;
}