/* TODO: Separate sidebar into it's own _.scss file */
/* TODO: Bring colors into _utility-colors.scss */
/* TODO: Create a _utility-layouts.scss (or something like it) for column manipulation and fluid layout */

.scrolling-disabled {
    overflow: hidden;
    height: 100%;
}

.content-header {
	margin-bottom: 15px;

    @media all and (min-width: 660px) { background-color: #8FCED6; }
}

.section-title {
	display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #8FCED2;
    padding: 10px 0;
    background-color: #3C4573;

    @media all and (min-width: 660px) {
        display: inline-block;
        text-transform: none;
        color: inherit;
        padding: 0;
        background-color: inherit;
        width: 40%;
    }
}

.section-image {
	width: 100%;

    @media all and (min-width: 660px) {
        display: inline-block;
        vertical-align: middle;
        width: 59.4%;
    }
    /* small adjustments to ensure image stays snugly against the right side of the header */
    @media all and (min-width: 775px) { width: 59.5%; }
    @media all and (min-width: 965px) { width: 59.6%; }
}

// TODO: Pull section menu into it's own component and only control the visibility in the breakpoint
.section-menu {
    @media all and (min-width: 660px) {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 10px;
        margin-bottom: 15px;
    }
}

.section-menu li {
    @media all and (min-width: 660px) {
        padding: 5px;
    }
}

.section-menu li > a {
    @media all and (min-width: 660px) {
        color: #5A4D29;
        font-size: 1.2em;
    }
}

.page-header {
	position: relative;
}

.page-header > .page-header-text {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 0 10px;
    padding: 8px 0;
    color: #3C4573;
}

.page-header > .page-header-text > .page-dropdown {
    position: relative;
    top: 15px;
    left: 10px;
    border-width: 7px 5px;
}

.page-header > .page-header-text > .page-dropdown.arrow-down {
	border-top-color: #3C4573;
}

.page-header > .page-header-text > .page-dropdown.arrow-up {
	border-bottom-color: #3C4573;
}

.page-header > .question {
	display: none;
}

.sidebar {
    display: none;

    @media all and (min-width: 660px) {
        display: inline-block;
        width: 23%;
        vertical-align: top;
        padding-left: 10px;
    }
}

.callout {
    @media all and (min-width: 660px) {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
}

.callout > .description {
    @media all and (min-width: 660px) {
        display: block;
        background-color: #56B8D0;
        padding: 10px;
        font-style: italic;
        font-size: 1.5em;
        color: #3D3811;
        line-height: 1.2em;
    }
}

.callout-image {
    @media all and (min-width: 660px) {
        width: 100%;
    }
}

.callout-controls {
    @media all and (min-width: 660px) {
        display: block;
        background-color: #56B8D0;
        padding: 10px;
        color: #3D3811;
        margin-top: -2px;
    }
}

.callout-type {
    @media all and (min-width: 660px) {
        display: block;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 5px;
        line-height: 1.2em;
    }
}

.callout-title {
    @media all and (min-width: 660px) {
        font-style: italic;
        font-size: 1.5em;
        line-height: 1.2em;
        margin-bottom: 5px;
    }
}