.content__body--wysiwyg h1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 0 1.2em;
    padding: 8px 0;
    color: $text-color-3;
}

.content__body--wysiwyg img {
    width: 100%;
    height: 100%;
}