.donations-page {
	margin: 2em;
}

.donations-page__header-area {
	margin-bottom: 3em;
}

.donations-page__header {
	font-size: 24px;
}

.donations-page__subheader {
	font-size: 18px;
	margin-top: 1em;
}

.donations-page__selection-group {
	margin-bottom: 3em;
}

.selection-group__header {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.selection-group__number-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	margin-right: 1em;
	flex-shrink: 0;
}

.donations-page__input-group {
	display: flex;
    align-items: center;
	position: relative;
    margin-top: 2em;
}

.donations__input-label {
	position: absolute;
	top: 1.1em;
	left: 1.8em;
	margin-top: 0;
	color: #af4967;
	transition: 0.5s ease;

	&--selected {
		color: #fbb03b;
	}
}

.donations__input-field {
	width: 97.5%;
	margin-left: 1%;
	padding: 1em 1em 1em 2.3em;
	border: 2px solid #af4967;
	transition: border-color 0.5s ease;

	@media all and (min-width: 480px) {
		width: 64%;
	}

	@media all and (min-width: 800px) {
		width: 30.5%;
	}

	&:focus {
		outline: none;
	}

	&--selected {
		border-color: #fbb03b;
	}
}

.paypal-donation-form {
	display: none;
}
