.account-page {
    flex-direction: column;

	@media all and (min-width: 660px) {
        flex-direction: row;
	}
}

.mobile-account-nav {
    margin: 0 0 1em;
    width: 100%;

	@media all and (min-width: 660px) {
        display: none;
	}
}

.sidebar.account-nav {
    padding: 0;
    z-index: 10;
}

.sidebar-list {
    margin: 0;

    &--account {
        padding: 0;
    }
}

.account-nav-link {
    align-items: center;
    box-shadow: inset -12px 0px 12px -6px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &.button { // To override button-specific styling
        border-radius: 0;
        margin: 0;
    }

	&:not(&--admin) {
        &:after {
            content: '→';
            display: block;
            height: 1em;
            opacity: 0;
            transform: translateX(-200%);
            transition: .3s all;
            width: 1em;
        }

        &:hover {
            &:after {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &.account-nav-link--active {
            background: white;
            box-shadow: none;
            color: $button-background-color-1;
        }
    }
}

.account-current-section__title {
    margin-top: 0;
}