/* TODO: Separate sidebar into it's own _.scss file */
/* TODO: Bring colors into _utility-colors.scss */
/* TODO: Create a _utility-layouts.scss (or something like it) for column manipulation and fluid layout */

.scrolling-disabled {
    overflow: hidden;
    height: 100%;
}

// TODO: Pull section menu into it's own component and only control the visibility in the breakpoint
.section-menu {
    @media all and (min-width: 660px) {
        border-top: 1px solid $border-color-dark;
        border-bottom: 1px solid $border-color-dark;
        padding: 10px;
        margin-bottom: 15px;
    }
}

.section-menu li {
    @media all and (min-width: 660px) {
        padding: 5px;
    }
}

.section-menu li > a {
    @media all and (min-width: 660px) {
        color: $text-color-2;
        font-size: 1.2em;
    }
}

.page-header {
	position: relative;
}

.page-header > .page-header-text {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 0 1.2em;
    padding: 8px 0;
    color: $text-color-3;
}

.page-header > .page-header-text > .page-dropdown {
    position: relative;
    top: 15px;
    left: 10px;
    border-width: 7px 5px;
}

.page-header > .page-header-text > .page-dropdown.arrow-down {
	border-top-color: $border-color-8;
}

.page-header > .page-header-text > .page-dropdown.arrow-up {
	border-bottom-color: $border-color-8;
}

.page-header > .question {
	display: none;
}