.password-change-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
}

.password-change__input {
    max-width: 400px;
    min-width: 280px;
    width: 80%;
}