.register-intro {
	margin: 0 0 10px;
}

.registration-type {
	margin: 0 0 10px;
}

.registration-type-selector-container:before {
	content: "Register as:";
	margin: 0 8px 0 0;
}

.registration-type-selector > select {
	display: inline;
}

.registration-type-header,
.form-section-header,
.form-section-sub-header {
	text-transform: uppercase;
	border-bottom: 1px solid $border-color-1;
	margin: 35px 0 20px;
    padding: 0 0 5px;
    clear: both;	/* TODO: Temporary until the registration styles work for left-x and right-x */
}

.form-section-sub-header {
	margin-top: 0;
	text-transform: none;
}

.required-description {
	display: block;
	margin: 0 0 10px;
	font-size: .8em;
}

.input-section-description {
    margin: 10px 0 15px;
}

label {
    display: block;
    margin-top: 5px;
    x-padding: 0 0 10px;
}
/*
 TODO: These inputs and possibly the label are more global than just this page, they are for all forms.  Create a more appropriate .scss file for them */
.input {
	display: block;
	width: 100%;
    /* margin: 0 0 5px; */
    padding: 5px;
}

.input-small {
	width: 200px;
}

.input-medium {
    width: 300px;
}

.input-large {
	width: 350px;
}

.state-select {
    margin: 10px 0 5px;
}

.header-blue {
	color: $form-color-1;
	border-bottom: 1px solid $form-color-1;
}

.header-pink {
	color: $form-color-2;
	border-bottom: 1px solid $form-color-2;
}

.text-blue {
	color: $form-color-1;
}

.text-pink {
	color: $form-color-2;
}

.homestudy-file-text {
	margin-left: 5px;
}

.error-container {
    padding: 5px 5px 5px 0;
}