.events__time,
.events__address,
.events__contact {
	width: 100%;
    margin-top: 1em;
}

.events__address {
	font-style: normal;
}

.events__contact-link {
	margin-left: .5em;
}

.events__add-unregistered-attendee {
	display: inline-block;
	margin-top: 1em;
	margin-left: 1em;
	color: #006400; /* TODO: change to color variable before saving */
	cursor: pointer;
}

.events__save-changes-container {
	width: 100%;
}

.events__save-changes {

	&--hidden {
		transform: translateY( 50% );
		opacity: 0;
	}

	transition: opacity 0.4s ease-in-out,
				transform 0.4s ease-in-out;
}