.register-intro {
	margin: 0 0 10px;
}

.registration-type {
	margin: 0 0 10px;
}

.registration-type-selector:before {
	content: "Register as:";
	margin: 0 8px 0 0;
}
.registration-type-selector > select {
	display: inline;
}

.registration-type-header,
.registration-section-header,
.registration-sub-section-header {
	text-transform: uppercase;
	border-bottom: 1px solid $border-color-1;
	margin: 20px 0 8px;
    padding: 0 0 5px;
    clear: both;	/* TODO: Temporary until the registration styles work for left-x and right-x */
}

.registration-sub-section-header {
	margin-top: 0;
	text-transform: none;
}

.registration-form {
    /*font-size: .8em;*/
}

.required-description {
	display: block;
	margin: 0 0 10px;
	font-size: .8em;
}

.input-section-description {
    margin: 10px 0 15px;
}

.label {
    display: block;
    padding: 0 0 10px;
}

/* TODO: These inputs and possibly the label are more global than just this page, they are for all forms.  Create a more appropriate .scss file for them */
.input {
    margin: 0 0 5px;
    padding: 5px;
}

.input-small {
	width: 200px;
}

.input-medium {
    width: 300px;
}

.input-large {
	width: 350px;
}

select {
	display: block;
}

.state-select {
    margin: 10px 0 20px;
}

/* TODO: Change class names to signify that these are buttons */
.register,
.log-in {
	padding: 10px 15px;
	border-radius: 5px;
	color: $light-text-color;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.register {
	background-color: $button-color-1;
}

.log-in {
	background-color: $button-color-2;
}

.header-blue {
	color: $form-color-1;
	border-bottom: 1px solid $form-color-1;
}

.header-pink {
	color: $form-color-2;
	border-bottom: 1px solid $form-color-2;
}

.text-blue {
	color: $form-color-1;
}

.text-pink {
	color: $form-color-2;
}


.checkbox-inline,
.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}



















