/* TODO: BEM all the things, then Sass all the things.  Also, ITCSS all the filename things  */
/* TODO: Bring breakpoint code under each selector */
/* TODO: Sass up the styles even more with nested selectors */

.gallery-search-form {
    display: none;
}

.filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-key {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.icon-text-unit {
    display: inline-block;
    margin-left: 10px;
}

.icon-text-unit__icon {
    vertical-align:middle;
    width: 20px;
}

.icon-text-unit__text {
    vertical-align: middle;
}

/* Profile contents */
.profiles-container {
	border-top: 1px solid black;
	padding-bottom: 15px;
}

.profiles {
	margin-top: 15px;
}

.profile {
	cursor: pointer;
}

.profile .details {
	background-color: #fffac2;
	color: #1B229D;
}

.profile .details > .name {
	font-size: 1.4em;
	font-style: italic;
}

.profile .details > .icons {
    position:relative;
    top: -20px;
}

.profile .details > .icons > .badge {
    float: right;
    width: 20px;
}

.profile .details > .icons > .badge + .badge {
    margin-right: 6px;
}

.profile .details > .age {
	color: #66584D;
	margin-top: .4em;
}

.profile .details > .view-profile {
	margin-top: .4em;
}

/* TODO: We've BEM'ed below, now BEM above! */
.profile__profile-navigation {
	margin-bottom: 1em;
	color: $modal-color-1;
}

.profile-navigation__previous-text,
.profile-navigation__next-text,
.profile-navigation__divider {
	position: relative;
	top: -8px;
}

.profile-navigation__previous,
.profile-navigation__next {
	cursor: pointer;
}

.profile-navigation__divider {
	margin: 0 .1em;
    font-size: 1.2em;
}

.profile-tabs {
	border-bottom: 1px solid $modal-color-1;
	margin-bottom: 1em;
}

.profile-tabs__tab {
    padding: 1em;
    display: inline-block;

    &:not(.profile-tabs__tab--selected) {
    	cursor: pointer;
    }
}

.profile-tabs__tab--selected {
    background-color: $modal-color-1;
    color: #fff;
}

.profile-tab__contents {
	display: none;
}

.profile-tab__contents--selected {
	display: block;
}

.profile__profile-picture {
    width: 200px;
    position: absolute;
    right: 1em;
}

.profile-details__name {
    font-size: 1.4em;
    font-style: italic;
    margin-bottom: .4em;
    font-weight: 400;
}

.profile-details__age {
    margin-bottom: .8em;
}

.profile-details__registration-number {
    margin-bottom: 2em;
}

.detailed-child-info__header {
    font-weight: 600;
}

.detailed-child-info__introduction,
.detailed-child-info__part-1,
.detailed-child-info__part-2,
.detailed-child-info__part-3 {
    margin-bottom: 1.5em;
}

.detailed-child-info__introduction,
.detailed-child-info__part-1 {
	margin-right: 15em;
}

.profile-details__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1.5em;
}

.profile-details__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* hover effect on the image */
.media-box-image img{
    transition: all 0.3s ease-in-out;
    transform-origin: bottom left;
}

.media-box-container:hover img{
    transform: scale(1.1) translate(-10px);
}

.media-box-container {
    box-shadow: 1px 1px 3px rgba(0,0,0,.75);
}

.media-boxes-load-more-button {
    display: none;
}

.bookmark {
    display: inline-block;
    margin-top: 10px;
    font-family: sans-serif;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &--active {
        color: #66584D;
    }
}







