/* TODO: BEM all the things, then Sass all the things.  */
/* TODO: Bring breakpoint code under each selector */
/* TODO: Sass up the styles even more with nested selectors */

.filters > .order {
	display: block;
	margin-bottom: 15px;
}

.filters {
	margin-bottom: 10px;
}

/* Profile contents */
.profile-zone {
	border-top: 1px solid black;
	padding-bottom: 15px;
}

.profiles {
	margin-top: 15px;
}

.profile {
	cursor: pointer;
}

.profile .details {
	background-color: #fffac2;
	color: #1B229D;
}

.profile .details > .name {
	font-size: 1.4em;
	font-style: italic;
}

.profile .details > .age {
	color: #66584D;
	margin-top: .4em;
}

.profile .details > .view-profile {
	margin-top: .4em;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}