/* TODO: BEM all the things, then Sass all the things.  Also, ITCSS all the filename things  */
/* TODO: Bring breakpoint code under each selector */
/* TODO: Sass up the styles even more with nested selectors */

.gallery,
.gallery-search-form {
    display: none;
}

.filters {
	display: flex;
	margin-bottom: 1em;
	flex-direction: column;
}

.filters__search {
    margin: 2em 0;
}

.waiting-child-profiles-filter {
	margin-bottom: 1em;
    width: 90%;

    @media all and ( min-width: 31.25em ) {	/* 500px / 16px = 31.25em */
    	width: 140px;
    }
}

.waiting-child-profiles__gallery-filter {
    width: 12em;
}

.icon-key {
	display: flex;
    justify-content: space-around;
    margin-top: 1em;
	width: 19.75em;							/* 300px / 14px = 19.75em */ // TODO: possibly switch to rem units since the 14px switch is hard to follow
	align-self: center;

	@media all and ( min-width: 31.25em ) {	/* 500px / 16px = 31.25em */
		margin-top: 0;
		align-self: flex-end;
	}
}
/* TODO: make this its own component */
.icon-text-unit {
	display: inline-block;
	margin-left: 10px;
}

.icon-text-unit__icon {
	vertical-align:middle;
	width: 20px;
}

.icon-text-unit__text {
	vertical-align: middle;
}

/* TODO: name these better and allow them to be reused for the staff gallery as well
/* Profile contents */
.profiles-container {
	border-top: 1px solid $border-color-dark;
	padding-bottom: 15px;
}

.profiles {
	margin-top: 15px;
}

/* TODO: We've BEM'ed below, now BEM above! */
.profile__profile-navigation {
	margin-bottom: 1em;
	color: $modal-color-1;
}

.profile-navigation__previous-text,
.profile-navigation__next-text,
.profile-navigation__divider {
	position: relative;
	top: -8px;
}

.profile-navigation__previous,
.profile-navigation__next {
	cursor: pointer;
}

.profile-navigation__divider {
	margin: 0 0.1em;
	font-size: 1.2em;
}

.profile-tabs {
	border-bottom: 1px solid $modal-color-1;
	margin-bottom: 1em;
}

.profile-tabs__tab {
	padding: 1em;
	display: inline-block;

	&:not(.profile-tabs__tab--selected) {
		cursor: pointer;
	}
}

.profile-tabs__tab--selected {
	background-color: $modal-color-1;
	color: $text-color-light;
}

.profile-tab__contents {
	display: none;
}

.profile-tab__contents--selected {
	display: block;
}

.profile__profile-picture {
	width: 200px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.profile__basic-info {
	margin-right: 15em;
}

.profile-details__name {
	font-size: 1.4em;
	font-style: italic;
	margin-bottom: 0.4em;
	font-weight: 400;
}

.profile-details__age {
	margin-bottom: .8em;
}

.profile-details__registration-number {
	margin-bottom: 2em;
}

.detailed-child-info__header {
	font-weight: 600;
}

.detailed-child-info__introduction,
.detailed-child-info__part-1,
.detailed-child-info__part-2,
.detailed-child-info__part-3 {
	margin-bottom: 1.5em;
}

.detailed-child-info__introduction,
.detailed-child-info__part-1 {
	margin-right: 15em;
}

.profile-details__video-container,
.profile-details__wednesdays-child-video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 1.5em;
}

.profile-details__video,
.profile-details__wednesdays-child-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.profile__button-group {
    margin: 2em 0;
}

/* TODO: possibly put these in the media-boxes trumps file
/* hover effect on the image */
.media-box-image img{
	transition: all 0.3s ease-in-out;
	transform-origin: bottom left;
}

.media-box-image:hover img{
	transform: scale(1.1) translate(-10px);
}

.media-box-container {
	box-shadow: none;
}

.media-boxes-load-more-button {
	display: none;
}

.bookmark {
	display: inline-block;
	margin-top: 10px;
	font-family: sans-serif;

	&--active {
		color: $text-color-7;
	}
}
