.donations-page {
	display: flex;
    flex-direction: column;
}

.donations-page__header-area {
	margin-bottom: 3em;
}

.donations-page__header {
	font-size: 24px;
}

.donations-page__subheader {
	font-size: 18px;
	margin-top: 1em;
}

.donations-page__selection-group {
	margin-bottom: 3em;
	display: flex;
}

.selection-group__content {
	margin-top: 0.25em;
	width: 100%;
}

.selection-group__header-text {
	margin-bottom: 1em;
}

.selection-group__number {
	font-size: 1.5em; /* 24px */
	margin-right: 0.5em;
}

.donations__input-label {
	position: absolute;
	top: 1.1em;
	left: 1em;
	margin-top: 0;
	color: $text-color-3;
	transition: 0.5s ease;

	&--selected {
		color: $text-color-5;
	}
}

.donations__input-field {
	width: 97.5%;
	padding: 1em;
	border: 2px solid $border-color-2;
	transition: border-color 0.5s ease;

	@media all and (min-width: 480px) {
		width: 64%;
	}

	@media all and (min-width: 800px) {
		width: 30.5%;
	}

	&:focus {
		outline: none;
	}

	&--more-padding-left {
		padding-left: 2em;
	}

	&--selected {
		border-color: $border-color-4;
	}

	&--longer {
		width: 100%;
	}
}

.donation-buttons {
    display: flex;
    justify-content: space-between;
}

.paypal-donation-form {
	display: none;
}
