.events__time,
.events__address,
.events__contact {
	width: 100%;
    margin-top: 1em;
}

.events__address {
	font-style: normal;
}

.events__contact-link {
	margin-left: .5em;
}

.events__add-unregistered-attendee {
	display: inline-block;
	margin-top: 1em;
	margin-left: 1em;
	color: #006400; /* TODO: change to color before saving */
	cursor: pointer;
}