.hidden {
	display: none;
}

.cover {
	position: relative;
	top: 0;
	bottom: 0;
	display: block;
	flex-grow: 1;
}

.required {
    color: $required-color;
}

.required-field:after {
	content: "*";
	color: $required-color;
	padding-left: 5px;
}