// TODO: append our own classes to the media box elements 
//	      rather than targeting the existing media box classes
// 		  documentation: https://codecanyon.net/item/media-boxes-portfolio-responsive-grid/5683020

.media-box-container {
	overflow: inherit;
	background-color: $background-color-light;
	box-shadow: 0 0 24px 0 $shadow-color-1;
}

.media-box-image {
	display: flex;
	width: 100% !important;
	height: 100%;
}

.media-box-container {
	box-shadow: none;
}

.media-boxes-load-more-button {
	background-color: inherit;
    color: $text-color-1;
    opacity: 1;
    font-size: 2em !important;
    font-weight: 300;
	margin-top: 1em;
	height: unset;
    width: unset;
}