// TODO: Alphebetize this list to make it easier to navigate

$corn-flower-blue   : rgba( 61, 69, 115, 1 );
$tufts-blue         : rgba( 74, 123, 204, 1 );
$carolina-blue      : rgba( 159, 185, 231, 1 );
$tonys-pink         : rgba( 241, 163, 141, 1 );
$pastel-violet      : rgba( 201, 145, 213, 1 );
$light-coral        : rgba( 238, 128, 125, 1 );
$ronchi             : rgba( 240, 187, 81, 1 );
$corvette           : rgba( 249, 212, 162, 1 );
$deep-cove          : rgba( 12, 13, 60, 1 );
$wenge              : rgba( 102, 88, 77, 1 );
$my-sin             : rgba( 251, 176, 59, 1 );
$matrix             : rgb(180, 96, 97);
$athens-gray        : rgb(238, 239, 243);
$french-pass        : rgb(196, 233, 252);
$white              : rgb(255, 255, 255);
$black              : rgb(0, 0, 0);
$light-gray         : rgb(213, 213, 213);
$ruddy              : rgb(255, 0, 0);



$header-background-color                : $corn-flower-blue;

$footer-background-color                : $corn-flower-blue;
$footer-text-color                      : $light-gray;

$nav-background-color-1                 : $wenge;
$nav-background-color-2                 : $my-sin;
$nav-background-color-3                 : $corn-flower-blue;
$nav-background-color-4                 : $deep-cove;

$nav-text-color-1                       : $wenge;
$nav-text-color-2                       : $white;
$nav-text-color-3                       : $corn-flower-blue;

$main-content-background-color          : $athens-gray;
$main-content-color                     : $wenge;

$description-background-color-1         : $white;
$description-background-color-2         : $french-pass;

$section-header-background-color-1      : $tufts-blue;
$section-header-background-color-2      : $carolina-blue;
$section-header-background-color-3      : $tonys-pink;
$section-header-background-color-4      : $pastel-violet;
$section-header-background-color-5      : $light-coral;
$section-header-background-color-6      : $ronchi;
$section-header-background-color-7      : $corvette;
$section-header-background-color-8      : $corn-flower-blue;

$section-header-text-color-1            : #8FCED2;
$section-header-text-color-2            : $white;

$callout-background-color-1             : #56B8D0;
$callout-background-color-2             : $my-sin;

$callout-text-color-1                   : #3D3811;
$callout-text-color-2                   : $wenge;

$description-text-color                 : $white;

$background-color-light                 : $white;
$background-color-dark                  : $black;

$border-color-light                     : $white;
$border-color-dark                      : $black;

$text-color-light                       : $white;
$text-color-dark                        : $black;

$border-color-1                         : #99918E;
$border-color-2                         : $wenge;
$border-color-3                         : #B97A42;

$shadow-color-1                         : #616161;

$required-color                         : $ruddy;

$button-background-color-1              : $wenge;
$button-background-color-2              : $corn-flower-blue;
$button-background-color-3              : $my-sin;
$button-background-color-4              : #B46061;
$button-background-color-light          : $white;
$button-background-color-dark           : $black;

$button-text-color-1                    : $wenge;
$button-text-color-light                : $white;
$button-text-color-dark                 : $black;

$form-color-1                           : #3EAAF5;
$form-color-2                           : #FF7FAE;
$form-color-3                           : $light-gray;

$modal-color-1                          : #3D4674;

// TODO: Sass up the arrow colors
