// TODO: The words 'light' and 'dark' should appear at the end of the name, not the beginning for consistency
// TODO: Alphebetize this list to make it easier to navigate

$header-background-color: #3F4472;

$footer-background-color: #3F4473;
$footer-text-color: #D5D5D5;

$nav-background-color-1: #66584D;
$nav-background-color-2: #FBB03B;
$nav-background-color-3: #3D4573;
$nav-background-color-4: #0C0D3C;

$nav-text-color-1: #66584D;
$nav-text-color-2: #D5D5D5;
$nav-text-color-3: #404272;

$main-content-background-color: #EEEFF3;
$main-content-color: #66584D;

$description-background-color-1: #FFFFFF;
$description-background-color-2: #C4E9FC;

$section-header-background-color-1: #8FCED6;
$section-header-background-color-2: #9FB9E7;
$section-header-background-color-3: #F1A38D;
$section-header-background-color-4: #C991D5;
$section-header-background-color-5: #F1616B;
$section-header-background-color-6: #F0BB51;
$section-header-background-color-7: #D7CB91;
$section-header-background-color-8: #3D4573;

$section-header-text-color-1: #8FCED2;

$callout-background-color-1: #56B8D0;
$callout-background-color-2: #FBB03B;

$callout-text-color-1: #3D3811;
$callout-text-color-2: #66584D;

$description-text-color: #544A65;

$light-background-color: #FFFFFF;
$dark-background-color: #000000;

$light-border-color: #FFFFFF;
$dark-border-color: #000000;

$light-text-color: #FFFFFF;
$dark-text-color: #000000;

$border-color-1: #99918E;
$border-color-2: #66584D;
$border-color-3: #B97A42;

$shadow-color-1: #616161;

$required-color: #FF0000;

$button-background-color-1: #66584D;
$button-background-color-2: #404272;
$button-background-color-3: #FBB03B;
$button-background-color-light: #FFFFFF;
$button-background-color-dark: #000000;

$button-text-color-1: #66584D;
$button-text-color-light: #FFFFFF;
$button-text-color-dark: #000000;

$form-color-1: #3EAAF5;
$form-color-2: #FF7FAE;
$form-color-3: #D5D5D5;

$modal-color-1: #3D4674;

// TODO: Sass up the arrow colors
