/* TODO: clean this page up and consider the comment headers and prefixes from this article:
		 https://unboxed.co/blog/structuring-and-managing-css */

@import "_utility-colors";
@import "_utility-variables";
@import "_utility-classes";
@import "_grid";

// Site Styles
// ===========
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $font-size-base;
	// font-weight: lighter;  // removed until the font is fixed
	min-width: 320px;
	margin: 0;
}

.content-wrapper {
	max-width: 1200px;
	margin: 0 auto;

	&--mobile-centered {
		text-align: center;

		@media all and (min-width: 655px) {	
			text-align: inherit;
		}	
	}
}

.body {
	background-color: $main-content-background-color;
	min-height: 43em;
}

p {
	margin: 0;
}

// Page Styles
// ===========
@import "_icons.scss";
@import "_page";
@import "_page-donations";
@import "_page-events";
@import "_page-register";
@import "_page-waiting-child-profiles";
@import "_page-wysiwyg.scss";

// Component Styles
// ===========
@import "_component-alert";
@import "_component-button";
@import "_component-link";
@import "_component-button-group";
@import "_component-carousel";
@import "_component-card";
@import "_component-content-area";
@import "_component-featured-items";
@import "_component-form";
@import "_component-global-footer";
@import "_component-global-header";
@import "_component-info-card";
@import "_component-menu";
@import "_component-modal";
@import "_component-sidebar";
@import "_component-toggle-button";

// Trumps
// ===========
@import "_trumps-mmenu";
@import "_trumps";

