// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

//@import "../bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "_utility-colors";
@import "_utility-variables";
@import "_utility-classes";
@import "_grid";
@import "_forms";
@import "_buttons";

// Site Styles
// ===========
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: $font-size-base;
	min-width: 320px;
}

.content-wrapper {
	max-width: 1080px;
	margin: 0 auto;
}

.body {
	min-height: 43em;
	background-color: $main-content-background-color;
}

// Component Styles
// ===========
@import "_component-modal";
@import "_component-global-header";
@import "_component-content-area";
@import "_component-menu";
@import "_component-carousel";
@import "_component-featured-items";
@import "_component-global-footer";

// Page Styles
// ===========
@import "_page";
@import "_page-donations";
@import "_page-photo-listing";
@import "_page-register";