<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MARE Family Child Inquiry</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<table border="0" cellpadding="0" cellspacing="0">
									<img src="mare-logo.png" alt="MARE Logo" width="500" height="106" style="display: block;" />
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Notice of Family Inquiry</b>
									</td>
								</tr>
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 15px;">
											Date of Inquiry: 02/04/2016
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
										MARE has received a telephone or web inquiry regarding Nicholas. This family has been given the contact information of the social worker listed below and has been asked to have their worker follow up with him/her. If you would like more information, please feel free to be proactive and contact the family directly.
									</td>
								</tr>
								<tr>
									<td style="line-height:10px;">&nbsp;</td>
								</tr>
								<tr>
									<td>
										<!-- requested information about -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">	
											<tr>
												<td valign="bottom" width="100%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;"><b>Reuested Information About:</b></td>
											</tr>	
										</table>

										<!-- requested information about (content) -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">	
											<tr>
												<td valign="bottom" align="left" width="25%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Reg. Number</td>
												<td valign="bottom" align="left" width="25%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Child</td>
												<td valign="bottom" align="left" width="25%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Staus</td>
												<td valign="bottom" align="left" width="25%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Photolisting Page</td>
											</tr>
											<tr>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">5554</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">Jordan, Jayden</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">Active</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; "></td>
											</tr>	
										</table>

										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 2px solid #3D4573;">	
											<!-- family name -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">
													<b>Family Name:</b>
												</td>
												<td valign="bottom" align="left" width="75%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													John Mier and Ron Kinsey
												</td>
											</tr>

											<!-- address -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														<b>Address:</b>
													</td>
												<td valign="bottom" align="left" width="75%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													4512 Windsor Ln
													<br/>
													Bethesda, MD 20814
												</td>
											</tr>

											<!-- home phone -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														<b>Home Phone:</b>
													</td>
												<td valign="bottom" align="left" width="75%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													(202) 468-3649
												</td>
											</tr>

											<!-- work phone -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														<b>Work Phone:</b>
													</td>
												<td valign="bottom" align="left" width="75%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													n/a
												</td>
											</tr>

											<!-- Email -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 0 0 12px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														<b>Email:</b>
													</td>
												<td valign="bottom" align="left" width="75%" style="padding: 0 0 22px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													info@washingtongraphic.com,
													<br/>
													rkinsey@washingtongraphic.com
												</td>
											</tr>
										</table>
										
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 2px solid #3D4573;">	
											<!-- Primary Language -->
											<tr>
												<td valign="bottom" align="left" width="40%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														<b>Primary Language:</b>
													</td>
												<td valign="bottom" align="left" width="60%" style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													English
												</td>
											</tr>

											<!-- home study -->
											<tr>
												<td valign="bottom" width="40%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Home Study:</b>
												</td>

												<td valign="bottom" width="60%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													Yes
												</td>					
											</tr>

											<!-- home study date -->
											<tr>
												<td valign="bottom" width="40%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Home Study Date:</b>
												</td>

												<td valign="bottom" width="60%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													12/15/2015
												</td>					
											</tr>

											<!-- family Constellation -->
											<tr>
												<td valign="bottom" width="40%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Family Constellation:</b>
												</td>

												<td valign="bottom" width="60%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													Male/Male Couple
												</td>					
											</tr>

											<!-- Race/Ethnicity -->
											<tr>
												<td valign="bottom" width="40%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Race/Ethnicity:</b>
												</td>

												<td valign="bottom" width="60%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													Caucasian/Hispanic, Caucasian
												</td>					
											</tr>

											<!-- Occupation -->
											<tr>
												<td valign="bottom" width="40%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Occupation:</b>
												</td>

												<td valign="bottom" width="60%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													owner of Washington Graph, ER physician
												</td>					
											</tr>
									
											<!-- children in home -->
											<tr>
												<td valign="bottom" width="40%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;"><b>Children in Home:</b></td>
												<td width="60%">&nbsp;</td>
											</tr>	
											
											<!-- list of children in home -->
											<tr>
												<td valign="bottom" align="left" width="40%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Name</td>
												<td valign="bottom" align="left" width="60%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Date of Birth</td>
											</tr>
											<tr>
												<td valign="bottom" align="left" width="40%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">Weston (Biological)</td>
												<td valign="bottom" align="left" width="60%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">12/01/2004</td>
											</tr>	
											<tr>
												<td valign="bottom" align="left" width="40%" style="padding: 0 0 22px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">Wyatt (Biological)</td>
												<td valign="bottom" align="left" width="60%" style="padding: 0 0 22px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">07/01/2006</td>
											</tr>
										</table>

										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 2px solid #3D4573;">	
											<!-- taken by -->
											<tr>
												<td valign="bottom" width="30%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Taken By:</b>
												</td>
												<td valign="bottom" width="70%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">Nichole Lawton</td>
											</tr>

											<!-- source -->
											<tr>
												<td valign="bottom" width="30%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Source:</b>
												</td>
												<td valign="bottom" width="70%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">MARE Web</td>
											</tr>

											<!-- social worker -->
											<tr>
												<td valign="top" width="30%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Social Worker:</b>
													<br/>
													<b>(family)</b>
												</td>
												<td valign="top" width="70%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													Scribner, Shirley
													<br/>
													Shirley.Scribner@montgomerycountymd.gov
													<br/>
													Montgomery Co. Md Dept of Human Services
													<br/>
													401 Hungerford Drive
													<br/>
													Rockville, MD 20850
													<br/>
													240-777-4513
												</td>
											</tr>
											
											<!-- inquiry by -->
											<tr>
												<td valign="top" align="left" width="30%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Inquirer Referred To:</b>
												</td>
												<td valign="bottom" align="left" width="70%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														Porte, Rosemary
														<br/>
														DCF-Southeast Regional
														<br/>
														110 Mulberry Street, 1st Floor
														<br/>
														Brockton, MA 02302
												</td>
											</tr>
										</table>

									</td>
								</tr>
								
								<tr>
									<td style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
										Attention Adoption Workers: MARE's policy is to refer families inquiring about a child to the assigned recruitment worker. However you are also receiving notice of this family's inquiry so you are able to follow up directly with the family if you choose
									</td>
								</tr>
								<tr>
									<td style="padding: 12px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
										Thank you for your attention, and please contact the MARE office if you have any questions.</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#3D4573" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="100%">
										Massachusetts Adoption Resource Exchange | <a href="http://mareinc.org/" style="color: #ffffff; text-decoration:none;"><font color="#fffbd7"><b>mareinc.org</b></font></a> 
										<br/><br/>
										19 Needham Street, Suite 206 <br/>
										Newton, MA 02461
										<br/>
										(617) 964-6273
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>