<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MARE INQUIRY INQUIRER THANK YOU</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#3D4573" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<table border="0" cellpadding="0" cellspacing="0">
									<img src="mare-logo.png" alt="MARE Logo" width="500" height="106" style="display: block;" />
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Notice of Family Inquiry</b>
									</td>
								</tr>
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 15px;">
											Date of Inquiry: 12/14/2015
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
										MARE has received a telephone or web inquiry regarding Jayden. This agency social worker has been given the contact information of the social worker listed below and been asked to follow up with him/her. If you would like more information, please feel free to be proactive and contact the agency social worker directly.
									</td>
								</tr>
								<tr>
									<td style="line-height:10px;">&nbsp;</td>
								</tr>
								<tr>
									<td>

										<!-- requested information about -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">	
											<tr>
												<td valign="bottom" width="100%" style="padding: 20px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;"><b>Reuested Information About:</b></td>
											</tr>	
										</table>

										<!-- requested information about -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">	
											<tr>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Reg. Number</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Child</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Staus</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; text-decoration: underline;">Photolisting Page</td>
											</tr>
											<tr>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">5554</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">Jordan, Jayden</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; ">Active</td>
												<td valign="bottom" align="left" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; "></td>
											</tr>	
										</table>
											
										<table border="0" cellpadding="0" cellspacing="0" width="100%">	
											<!-- inquiry by -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Inquiry By:</b>
												</td>
												<td valign="bottom" align="left" width="75%" style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													Edge-Mattos, Courtney
													<br/>
													Community Care Services/JRI
													<br/>
													132 South Main St
													<br/>
													Berkley, MA 02780
													<br/>
													(508) 821-7774
												</td>
											</tr>

											<!-- taken by -->
											<tr>
												<td valign="bottom" align="left" width="25%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														<b>Taken By:</b>
													</td>
												<td valign="bottom" align="left" width="75%" style="padding: 10px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">Anna Collins</td>
											</tr>

											<!-- on behalf of -->
											<tr>
												<td valign="bottom" width="25%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>On Behalf Of:</b>
												</td>

												<td valign="bottom" width="75%" style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">Cooney-Cram</td>					
											</tr>

											<!-- source -->
											<tr>
												<td valign="bottom" width="25%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Source:</b>
												</td>
												<td valign="bottom" width="75%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">MARE On-line Matching- SW</td>
											</tr>
										</table>

							
										<table border="0" cellpadding="0" cellspacing="0" width="100%">	
											<!-- inquiry by -->
											<tr>
												<td valign="top" align="left" width="25%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
													<b>Referred To:</b>
												</td>
												<td valign="bottom" align="left" width="75%" style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
														Dumont, Richard
														<br/>
														DCF-Western Regional
														<br/>
														140 High Street
														<br/>
														5th floor
														<br/>
														Springfield, MA 01105
												</td>
											</tr>
										</table>

									</td>
								</tr>
								
								<tr>
									<td style="padding: 0 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px;">
										Thank you for your attention, and please contact the MARE office if you have any questions.</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#3D4573" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="100%">
										Massachusetts Adoption Resource Exchange | <a href="http://mareinc.org/" style="color: #ffffff; text-decoration:none;"><font color="#fffbd7"><b>mareinc.org</b></font></a> 
										<br/><br/>
										45 Franklin Street, 5th Floor, 
										<br>Boston, MA 022110
										<br/>
										(617) 542-3678
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>