<!DOCTYPE html>
<html dir=3D"ltr" lang=3D"en-US">
  <head>
    <title>Room</title>
    <meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3DUTF-8=">
  </head>
<body>

<!--grey border-->
<div style=3D"width: 100%; min-width: 320px; background-color: #eeeeee; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #3f3f3f;">

<!-- wrapper -->
  <div style=3D"margin: 0 auto; width: 100%; max-width: 640px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #3f3f3f;">

    <table style=3D"margin: 0 auto; width: 95%; max-width: 600px; background-color: #ffffff; table-layout: fixed; text-align: left;" cellpadding=3D"0" cellspacing=3D"0">
      <tbody>
<!-- header -->
        <tr>
          <td style=3D"padding-top: 50px; background-color: #eeeeee; width: auto;">&nbsp;</td>
          <td style=3D"padding-top: 50px; background-color: #eeeeee; width: auto;">&nbsp;</td>
          <td style=3D"padding-top: 50px; background-color: #eeeeee; width: auto;">&nbsp;</td>
        </tr>
<!-- salutation -->
        <tr>
          <td colspan=3D"3" style=3D"padding-top:40px; padding-left:40px; padding-right:40px;">
            <span style=3D"font-weight: 400; font-size: 28px; display: block; color: #cccccc;">
              Welcome,
            </span>
            <span style=3D"font-weight: 400; font-size: 28px; color: #cccccc;">
              Inquirer username!
            </span>
          </td>
        </tr>
<!-- /header-->

<!-- body content -->
        <tr>
          <td colspan=3D"3" style=3D"padding-top:30px; padding-left:40px; padding-right:40px;">
              <span style=3D"font-size: 14px; color: #666666; line-height: 21px">
                  Thanks for submitting an inquiry through the MARE system.<br>We're really excited to help you!
            </span>
          </td>
        </tr>
<!-- body content -->
        <tr>
          <td colspan=3D"3" style=3D"padding-top:30px; padding-left:40px; padding-right:40px;">
            <span style=3D"font-size: 14px; color: #666666; line-height: 21px;">
              Feel free to email us at <a href=3D"mailto:info@mareinc.org" target=3D"_blank" style=3D"color: #666666; text-decoration: underline;">info@mareinc.org</a> with questions, concerns, ideas, or just to say hi. We're always happy to help.
            </span>
          </td>
        </tr>
<!--/body content -->
        <tr>
          <td colspan=3D"3" style=3D"padding-top:20px; padding-bottom:40px; padding-left:40px; padding-right:40px;">
              <a href=3D"http://development.adoptions.io">visit MARE website</a>
          </td>
        </tr>
<!-- FOOTER -->
        <tr>
          <td colspan=3D"3" style=3D"padding-top: 20px; padding-bottom: 20px; background-color: #eeeeee; width: auto; text-align: center;">
            <span style=3D"font-size: 10px; color: #666666;">
                This email was sent to <a href=3D"jared.j.collier@gmail.com" style=3D"color: #666666;">jared.j.collier@gmail.com</a>.<br>Didn't submit an inquiry? <a href=3D"mailto:info@mareinc.org" style=3D"color: #666666;">Please let us know.</a><br><a href=3D"http://development.adoptions.io/privacy-policy" style=3D"color: #666666;">Privacy Policy</a> | <a href=3D"http://development.adoptions.io/terms-of-service" style=3D"color: #666666;">Terms of Service</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>