.top-nav {
	height: auto;
	margin: 0px;
}

.top-nav ul {
	margin: 0;
	padding: 0;
}

.top-nav li {
	display: inline-block;
}

.top-nav li > a {
	text-decoration: none;
	color: #00F;
	padding: 8px 8px 8px 8px;
}

nav {
	display: block;
	text-align: center;
}

nav ul {
	margin: 0;
	padding:0;
	list-style: none;
}

.main-nav {
	clear: both;
	background-color: #3D4573;
}

.main-nav > .nav a {
	display:block; 
	background: #3D4573; 
	color: #D5D5D5; 
	text-decoration: none;
	padding: 0.6em 1.8em;
	text-transform: uppercase;
	font-size: 80%;
	position: relative;
}

.main-nav > .nav {
	vertical-align: top; 
	display: inline-block;
	box-shadow: 
		1px -1px -1px 1px #000, 
		-1px 1px -1px 1px #fff, 
		0 0 6px 3px #fff;
	border-radius:6px;
}

.main-nav > .nav li {
	position: relative;
}

.main-nav > .nav > li { 
	float: left;
	min-width: 150px;
}

.main-nav > .nav li:hover > a { 
    background-color: #0C0D3C;
    color: #fff;
}

.main-nav > .nav li:hover li a { 
    background-color: #0C0D3C;
    padding: 0.6em 1.5em 0.6em 0.6em;
    text-align: left;
}

.main-nav .sub-menu:before { 
	content: ""; 
	position: absolute; 
	height: 0; 
	width: 0; 
	border: 5px solid transparent;
	border-left-color: #d5d5d5;
	top: 50% ;
	right:5px;
 }

 .main-nav li:hover > .sub-menu:before {
	border-left-color: transparent; 
	border-right-color: #fff;
	right: 10px; 
}

 /* submenu positioning */
.main-nav > .nav ul {
	position: absolute;
	/* white-space: nowrap; // keeps submenu width restricted by parent width when turned off */
	z-index: 10;
	left: -99999em;
}

.main-nav > .nav > li:hover > ul {
	left: auto;
	min-width: 100%;
}

/* second submenu positioning */
.main-nav > .nav > li li:hover > ul {
	top: 0;
	left: -100%;
    width: 100%;
}