/* TODO:  BEM all the things, then Sass all the things.  */

.section-header {
	background-color: #8FCED6;
		margin-bottom: 15px;
}

.section-title {
	display: inline-block;
	width: 40%;
	text-align: center;
	font-size: 24px;
	color: #357288;
}

.section-image {
	display: inline-block;
	vertical-align: middle;
	width: 59.6%;
}

.sidebar {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding-right: 10px;
}

.section-menu {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10px;
	margin-bottom: 15px;
}

.section-menu li {
	padding: 5px;
}

.section-menu li > a {
	color: #5A4D29;
	font-size: 1.2em;
}

.callout {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.callout > .description {
	display: block;
	background-color: #56B8D0;
	padding: 10px;
	font-style: italic;
	font-size: 1.5em;
	color: #3D3811;
	line-height: 1.2em;
}

.callout-image {
	width: 100%;
}

.callout-controls {
	display: block;
	background-color: #56B8D0;
	padding: 10px;
	color: #3D3811;
	margin-top: -2px;
}

.callout-type {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.2em;
}

.callout-title {
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: 5px;
}

.main-column {
	display: inline-block;
	width: 75%;
	padding-left: 10px;
}

.filters {
	margin-bottom: 10px;
}

/* Profile contents */
.profile-zone {
	border-top: 1px solid black;
	padding-top: 15px;
}

.profiles {
		list-style: none;
		font-size: 0px;
}

.profile {
		display: inline-block;
		background: #fff;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		font-size: 16px;
		font-size: 1rem;
		vertical-align: top;
		box-shadow: 0 0 5px #ddd;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin-right: 3%;
		margin-bottom: 20px;
}

.profile img {
		max-width: 100%;
		height: auto;
}

.profile .details {
		padding: 10px;
		background-color: #fffac2;
		margin-top: -1px;
		color: #1B229D;
}

.profile .details > .name {
		display: block;
		font-size: 2em;
		font-style: italic;
}

.profile .details > .age {
		display: block;
		margin: 5px 0 10px;
		font-size: 1.3em;
		color: #66584D;
}

.profile .deatils .view-profile {
	font-size: 1.2em;
}