html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.global-header {
	background-color: #FFFAC2;
	position: relative;
}

.global-header .logo-container,
.global-header .header-navigation-container {
	display: inline-block;
	width: 50%;
}

.global-header .logo-container {
	float: left;
	margin-bottom: 10px;
}

.global-header .header-navigation-container {
	float: right;
}

.global-header img {
	margin-left: 70px;
	margin-top: 20px;
	width: 80%;
}

.nav {
	height: auto;
	margin: 0px;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
}

.nav li > a {
	text-decoration: none;
	color: #00F;
	padding: 8px 8px 8px 8px;
}

.global-header .top-nav {
	width: 500px;
	background-color: #66584D;
	color: #fff;
	padding-left: 20px;
}

.global-header .top-nav li {
	padding: 10px 20px 5px;
}

.global-header .top-nav .donate {
	background-color: #FBB03B;
	padding-bottom: 10px;
	position: absolute;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-transform: uppercase;
	color: #66584D;
	font-weight: 600;
	box-shadow: 5px 5px 10px -2px;
	padding-top: 15px;
	margin-left: 20px;
}

.global-header .top-nav a,
.global-header .top-nav a:visited {
	color: #fff;
}

.site-nav {
	margin-top: 30px;
	margin-left: 4%;
	font-style: italic;
	font-size: 1.1em;
}

.main-nav {
	clear: both;
	background-color: #3D4573;
	padding: 5px 0;
}

.main-nav ul li {
	width: 19%;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9em;
}

.main-nav li > a,
.main-nav li > a:visited {
	color: #fff;
}

.main {
	background-color: #9EA2B9;
	padding-bottom: 3%
}

.main > .content {
	width: 90%;
	margin: auto;
	background-color: #fff;
	padding: 0 10px 10px;
}

.main .slideshow img {
	width: 100%;
}

.main .featured {
	margin-top: 15px;
}

.main .featured img:first-child {
	margin-right: 2%;
}

.main .featured img:last-child {
	margin-left: 2%;
}

.main .featured img {
	width: 31.5%;
}

.global-footer {
	border-top: 15px solid #3D4573;
}

.global-footer nav {
	display: inline-block;
}