input.parsley-success,
select.parsley-success,
textarea.parsley-success {
	color: #468847;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
.error-container.parsley-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
}

.form-group-error {
	text-transform: uppercase;
	color: #B94A48;
}

.parsley-errors-list {
	position: absolute;
	top: 3px;
	right: 20px;
    margin: 0;
    padding: 0;
    font-size: .7em;
    list-style-type: none;
    text-transform: uppercase;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;

    input[data-parsley-required="false"] + & {
    	display: none;
    }
}

.parsley-errors-list.filled {
	opacity: 1;
}