{{!< default}}
<div class="main">
	<div class="content">
		<div class="content-header">
			<span class="section-title">Child Registration</span>
			<img class="section-image" src="/dist/img/register.png" alt="section-image-placeholder">
		</div>
		<div class="content-body">
			<aside class="sidebar left-sidebar">
				<aside class="callout">
					<span class="description">"It feels so good to be a family," says Brady, who's getting used to being called "Mommy."</span>
					<img class="callout-image" src="/dist/img/success-story-popout.png" alt="callout-image-placeholder">
					<span class="callout-controls">
						<div class="callout-type">Success Stories</div>
						<div class="callout-title">Meet the Whitney Family</div>
						<div class="learn-more">
							<span>Learn more</span><span class="icon-double-arrow-right">&gt;&gt;</span>
						</div>
					</span>
				</aside>
			</aside>
			<section class="main-column">
				<div class="page-header">
					<span class="page-header-text">Child Registration</span>
				</div>

				<form action="/registerchild" class="registration-form" method="POST">
					<input type="hidden" name="action" value="registerChild" />

					<div class="registration-section-header">Child Information</div>

					<div class="row">
						<div class="col-sm-6 form-group">
							<input type="text" class="input" id="child-first-name" name="childFirstName" required />
							<label for="child-first-name" class="label required-field">First Name</label>
						</div>
						<div class="col-sm-6 form-group">
							<input type="text" class="input" id="child-last-name" name="childLastName" required />
							<label for="child-last-name" class="label required-field">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-alias" name="childAlias" required />
							<label for="child-alias" class="label required-field">Alias (only for children who are legal risk)</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-nickname" name="childNickName" required />
							<label for="child-nickname" class="label required-field">Nickname</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<input type="text" class="input" id="child-dob" name="childDob" required />
							<label for="child-dob" class="label required-field">DOB</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-primary-language" name="childPrimaryLanguage" required />
							<label for="child-primary-language" class="label required-field">Primary Language Spoken</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-other-languages" name="childOtherLanguages" required />
							<label for="child-other-languages" class="label required-field">Other Language(s) Spoken</label>
						</div>
					</div>
					<div class="row double-padding">
						<div class="col-sm-12">
							<span>Gender</span> &nbsp;&nbsp;
							{{#each genders}}
								<label class="radio-inline"><input type="radio" name="childGender" value="{{_id}}">{{gender}}</label>
							{{/each}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-24 form-group">
									<span class="race-text">Race/Ethnicity (check all that apply):</span>
								</div>
							</div>
							{{#each races}}
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childRace" value="{{_id}}">{{race}}
								</label>
							</div>
							{{/each}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-12 form-group">
							<textarea class="input" id="child-other-ethnic-background" name="childOtherEthnicBackground" rows="5"></textarea>
							<label for="child-other-ethnic-background" class="label">Other Information About child's ethnic Background</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-24">
							<div class="row">
								<div class="col-sm-24 form-group">
									<span class="race-text required-field">Where does this child presently live?</span>
								</div>
							</div>
							<div class="col-sm-24 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childCurrentResidence" value="Foster Home">Foster Home
								</label>
							</div>
							<div class="col-sm-24 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childCurrentResidence" value="IFC Home">IFC Home
								</label>
							</div>							
							<div class="col-sm-24 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childCurrentResidence" value="Residential/Group Care">Residential/Group Care
								</label>
							</div>						
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-current-residence-town" name="childCurrentResidenceTown" required />
							<label for="child-current-residence-town" class="label required-field">City/Town of Child's Current Location:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-care-facility" name="childCareFacility" required />
							<label for="child-care-facility" class="label required-field">Name of Residential/Group Care Facility (if applicable):</label>
						</div>
					</div>
					<div class="row double-padding">
						<div class="col-sm-12">
							<span>Legal Status:</span> &nbsp;&nbsp;
							<label class="radio-inline"><input type="radio" name="childLegalStatus" value="Free">Free</label>
							<label class="radio-inline"><input type="radio" name="childLegalStatus" value="Risk">Risk</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-year-entered-care" name="childYearEnteredCare" required />
							<label for="child-year-entered-care" class="label required-field">Year Child Entered Care:</label>
						</div>
					</div>
					<div class="row double-padding">
						<div class="col-sm-24">
							<span>Is child to be adopted as part of a sibling group?</span> &nbsp;&nbsp;
							<label class="radio-inline"><input type="radio" name="childAdoptedPartOfGroup" value="Yes">Yes</label>
							<label class="radio-inline"><input type="radio" name="childAdoptedPartOfGroup" value="No">No</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-names-of-siblings" name="childAdoptedPartOfGroupSiblings" required />
							<label for="child-names-of-siblings" class="label required-field">Names of siblings to be placed together</label>
						</div>
					</div>
					<div class="row double-padding">
						<div class="col-sm-24">
							<span>Does child need contact with other siblings?</span> &nbsp;&nbsp;
							<label class="radio-inline"><input type="radio" name="childNeedContact" value="Yes">Yes</label>
							<label class="radio-inline"><input type="radio" name="childNeedContact" value="No">No</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-need-contact-description" name="childNeedContactDescription" required />
							<label for="child-need-contact-description" class="label required-field">If yes, please describe (i.e. brother, sister, monthly, etc.)</label>
						</div>
					</div>
					<div class="row double-padding">
						<div class="col-sm-24">
							<span>Does child need contact with other birth family?</span> &nbsp;&nbsp;
							<label class="radio-inline"><input type="radio" name="childNeedContactOtherFamily" value="Yes">Yes</label>
							<label class="radio-inline"><input type="radio" name="childNeedContactOtherFamily" value="No">No</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-need-contact-other-family-describe" name="childNeedContactOtherFamilyDescribe" required />
							<label for="child-need-contact-other-family-describe" class="label required-field">If yes, please describe</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14">
							<div class="row">
								<div class="col-sm-24 form-group">
									<span class="race-text">Recommended Family Constellation (check all that apply):</span>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellation" value="Two parents (two males)">Two parents (two males)
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellation" value="Single parent (female)">Single parent (female) 
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellation" value="Single parent (male)">Single parent (male)
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellation" value="Two parents (male/female)">Two parents (male/female)
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellation" value="Two parents (two females)">Two parents (two females) 
								</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-invalid-constellations" name="childInvalidConstellations" rows="5"></textarea>
							<label for="child-invalid-constellations" class="label">If same-sex couples or single parents will not be considered, please give clinically appropriate reason</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14">
							<div class="row">
								<div class="col-sm-24 form-group">
									<span class="race-text">Other Family Constellation Considerations (check all that apply):</span>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellationOther" value="Childless home">Childless Home
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellationOther" value="Multi-child Home">Multi-child Home 
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellationOther" value="No Pets">No Pets
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellationOther" value="Requires Older Children">Requires Older Children
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childFamilyConstellationOther" value="Requires Younger Children">Requires Younger Children
								</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-physical-special-needs" name="childPhysicalSpecialNeeds" rows="5" required></textarea>
							<label for="child-physical-special-needs" class="label required-field">Physical Special Needs: (Please be as descriptive as possible)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-intellectual-special-needs" name="childIntellectualSpecialNeeds" rows="5" required></textarea>
							<label for="child-intellectual-special-needs" class="label required-field">Intellectual Special Needs: (Please be as descriptive as possible)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-emotional-special-needs" name="childEmotionalSpecialNeeds" rows="5" required></textarea>
							<label for="child-emotional-special-needs" class="label required-field">Emotional Special Needs: (Please be as descriptive as possible)</label>
						</div>
					</div>
					<div class="row double-padding">
						<div class="col-sm-24">
							<span>Is the child receiving therapy?</span> &nbsp;&nbsp;
							<label class="radio-inline"><input type="radio" name="childReceivingTherapy" value="Yes">Yes</label>
							<label class="radio-inline"><input type="radio" name="childReceivingTherapy" value="No">No</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14">
							<div class="row">
								<div class="col-sm-24 form-group">
									<span class="race-text">Other Disabilities (check all that apply):</span>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherDisabilities" value="Autism Spectrum">Autism Spectrum
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherDisabilities" value="Cerebral Palsy">Cerebral Palsy 
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherDisabilities" value="Down Syndrome">Down Syndrome
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherDisabilities" value="Hearing Impairment">Hearing Impairment
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherDisabilities" value="Non-Ambulatory">Non-Ambulatory 
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherDisabilities" value="Visual Impairment">Visual Impairment 
								</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14">
							<div class="row">
								<div class="col-sm-24 form-group">
									<span class="race-text">Other Considerations (check all that apply):</span>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherConsiderations" value="LBGTQ Youth">LBGTQ Youth
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherConsiderations" value="Fire Setting">Fire Setting 
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherConsiderations" value="Hurts Animals">Hurts Animals
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherConsiderations" value="Self Harm">Self Harm
								</label>
							</div>
							<div class="col-sm-12 form-group">
								<label class="checkbox-inline">
									<input type="checkbox" name="childOtherConsiderations" value="Sexual Abuse">Sexual Abuse
								</label>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-other-considerations" name="childOtherConsiderations" rows="5"></textarea>
							<label for="child-other-considerations" class="label">Other considerations for placement</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-areas-avoid-recruitment" name="childAreasAvoidRecruitment" rows="5"></textarea>
							<label for="child-areas-avoid-recruitment" class="label">Please indicate areas to be avoided in recruitment</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-personality" name="childPersonality" rows="5" required></textarea>
							<label for="child-personality" class="label required-field">Individual/Personality: How does child describe him/herself? How do others describe child’s character? Think about what is unique about this particular child (e.g. sexual orientation/gender identity, temperament, sense of humor, etc.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-interests" name="childInterests" rows="5" required></textarea>
							<label for="child-interests" class="label required-field">Iterests: (Describe what child enjoys doing.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-talents" name="childTalents" rows="5" required></textarea>
							<label for="child-talents" class="label required-field">Talents: (Describe unique aspects of child in terms of what he/she does best.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-aspirations" name="childAspirations" rows="5" required></textarea>
							<label for="child-aspirations" class="label required-field">Aspirations: (Describe what child wants to be in the future –career or educational goals.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-family-life" name="childFamilyLife" rows="5" required></textarea>
							<label for="child-family-life" class="label required-field">Family Life: (Describe child’s interaction and behavior in a family or residential setting.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-school-life" name="childSchoolLife" rows="5" required></textarea>
							<label for="child-school-life" class="label required-field">School Life: (Describe child’s academic functioning, grade level, school behavior, peer relationship.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-special-needs" name="childSpecialNeeds" rows="5" required></textarea>
							<label for="child-special-needs" class="label required-field">Special Needs: (Briefly describe child’s disabilities, behavioral difficulties, therapy, medication.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-14 form-group">
							<textarea class="input" id="child-placement-requirements" name="childPlacementRequirements" rows="5" required></textarea>
							<label for="child-placement-requirements" class="label required-field">Placement Requirements: (Include what child wants in a family and worker’s recommendations.)</label>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-one-wish" name="childOneWish" required />
							<label for="child-one-wish" class="label required-field">If this child could have one wish, What would it be?</label>
						</div>
					</div>

					<div class="registration-section-header">Recruitment Worker Information:</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-recruitment-worker" name="childRecruitmentWorker" required />
							<label for="child-recruitment-worker" class="label required-field">Recruitment Worker</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-recruitment-worker-agency" name="childRecruitmentWorkerAgency" required />
							<label for="child-recruitment-worker-agency" class="label required-field">Agency</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-recruitment-worker-phone" name="childRecruitmentWorkerPhone" required />
							<label for="child-recruitment-worker-phone" class="label required-field">Phone</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-recruitment-worker-email" name="childRecruitmentWorkerEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
							<label for="child-recruitment-worker-email" class="label required-field">Email</label>
						</div>
					</div>

					<div class="registration-section-header">Adoption Worker Information:</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-adoption-worker" name="childAdoptionWorker" required />
							<label for="child-adoption-worker" class="label required-field">Adoption Worker</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-adoption-worker-agency" name="childAdoptionWorkerAgency" required />
							<label for="child-adoption-worker-agency" class="label required-field">Agency</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-adoption-worker-phone" name="childAdoptionWorkerPhone" required />
							<label for="child-adoption-worker-phone" class="label required-field">Phone</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<input type="text" class="input" id="child-adoption-worker-email" name="childAdoptionWorkerEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
							<label for="child-adoption-worker-email" class="label required-field">Email</label>
						</div>
					</div>


					<button class="register" type="submit">Submit</button>
				</form>
			</section>
		</div>
	</div>
</div>